<?php
/**
 * OneStepCheckout by EMThemes
 *
 * Based on Magento 1.7.0.0 source code
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 EMThemes. (http://www.emthemes.com)
 * @license     Commercial License. Granted for authorized users only.
 */
?>
<?php

$_col = array(array(), array(), array());

?>
<div class="page-title">
    <h1><?php echo $this->__('Express Checkout Lane') ?></h1>
</div>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckoutEM.js') ?>"></script>
<div class="opc-1sc" id="checkoutSteps">
<?php $i=0; foreach($this->getSteps() as $_stepId => $_stepInfo): ?>
<?php if (!$this->getChild($_stepId) || !$this->getChild($_stepId)->isShow()): continue; endif; ?>
	
	<?php if ($_stepId == 'login'): ?>
		<div id="opc-<?php echo $_stepId ?>" class="section<?php echo !empty($_stepInfo['allow'])?' allow':'' ?><?php echo !empty($_stepInfo['complete'])?' saved':'' ?>">
	        <div id="checkout-step-<?php echo $_stepId ?>" class="step a-item">
	            <?php echo $this->getChildHtml($_stepId) ?>
	        </div>
	    </div>
	<?php else: ?>
		
		<?php
			$i++;
			switch ($_stepId) {
				case 'billing':
				case 'shipping':
					$_colIdx = 0;
					break;
					
				
				case 'shipping_method':
				case 'payment':
					$_colIdx = 1;
					break;
					
				default:
					$_colIdx = 2;
			}
		?>
		<?php ob_start(); ?>
	    <div id="opc-<?php echo $_stepId ?>" class="section<?php echo !empty($_stepInfo['allow'])?' allow':'' ?><?php echo !empty($_stepInfo['complete'])?' saved':'' ?>">
	        <div class="step-title">
	            <span class="number"><?php echo $i ?></span>
	            <h2><?php echo $_stepInfo['label'] ?></h2>
	        </div>
	        <div id="checkout-step-<?php echo $_stepId ?>" class="step a-item">
	            <?php echo $this->getChildHtml($_stepId) ?>
	        </div>
	    </div>		
		<?php $_col[$_colIdx][] = ob_get_contents(); ob_end_clean(); ?>
		
	
	<?php endif ?>
	
<?php endforeach ?>


<?php foreach ($_col as $i => $_steps): ?>
	<div class="opc-col opc-col<?php echo $i+1 ?>">
		<?php echo implode("\n", $_steps); ?>
	</div>
<?php endforeach ?>
<p class="required"><?php echo $this->__('* Required Fields') ?></p>
</div>
<script type="text/javascript">
//<![CDATA[
	var accordion = {
					sections: [],
					openPrevSection: function() {},
					openNextSection: function() {}
				};
    var checkout = new Checkout(accordion,{
        progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
        review: '<?php echo $this->getUrl('onestep/index/review') ?>',
        saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
        failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
    );
//]]>
</script>