.header .logo-menu-container { margin:5px 0 0; text-align:center; width:100%;}
.header .logo-menu-container img { width: 150px; height: 50px;}
.footer_bg { width:100%;}
.cms-index-index .em-box-custom .wrapper_header .inner_header > .row, .cms-index-index .wrapper_header {
    margin-bottom: 15px !important;
    border-bottom: 1px solid #dfe1e1 !important;
}
.lazy-banner-slider {
    background-image: url(/media/background/unnamed_1.jpg) !important;
}
.menu-item-text.menu-item-depth-0 > .em-catalog-navigation.horizontal > li:hover > ul {
    top: 40px;
}
.header h1.logo { position: absolute; left: 20px; top:-10px; display: none; }
responsive-wrapper-demo-do-not-copy { padding: 10px !important; }
.footer_follow > .container { padding: 0; }
.logo-menu-container > .logo { position: absolute;top:-10px; left:20px;}

#wr360placer_wr360PlayerId,
.theme_header { display: none !important; }
.theme_panel .toolbar  { width: 200px !important; }
.category-products .products-grid li.item { border-bottom: 1px solid white; }
.category-products .products-grid li.item:hover { border-bottom: 1px solid silver !important; }
.product-view .product-essential .price-box, #wr360menu_wr360PlayerId, .product-view .tabs_wrapper_detail .details_tab { display: none; }
#wr360PlayerId { margin-top:-30px; }
.availability, .email-friend { display: none; }
.inner-logo { position: relative; z-index: 9999; }
.inner-logo img { display: block; position: absolute; right: 10%;
    top:20px;  max-width: 20%; }

.product-view .short-description { border-top:0; }
/*banner-inner*/
.banner-inner{ text-align:center;  padding:22% 12%; }
.big-title{ font:50px Raleway, Arial, san-serif; text-transform:uppercase; padding-bottom:5%;}
.middle-banner li.item {
  position: relative;
  overflow: hidden;
}
.middle-banner li.item img {
  /*-webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;*/
  height: auto;
}
.middle-banner li.item .banner-content {
  padding: 10px;
  margin: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  z-index: 2;
}
.middle-banner li.item {
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.middle-banner li.item:hover {
  background-color: #000;

}
.middle-banner li.item img {
  width: 100%;
opacity: 0.8; filter: alpha(opacity=80);
 -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.middle-banner li.item:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.middle-banner li.item .banner-content {
    color:black;
    font-weight: bold
}
.middle-banner li.item .banner-content a {
    color:black;
    font-weight: bold;
    display: block;
    max-width: 200px;
    font-size: 25px;
    line-height: 48px;
    border:2px solid black;
    margin: 0 auto;
}