.em_nav{}
.sidebar-menu .em_nav{ margin-bottom:20px}
.sidebar .em_nav{ }
.sidebar .megamenu-wrapper{margin-bottom:20px; }
.sidebar .megamenu-wrapper.animated{ -webkit-animation-name: none;
animation-name: none;}
.em_nav em,
.em_nav code{
	word-wrap:break-word; 
	white-space:normal;
}
/* general */
.menu-item-parent > a { 
	margin-right:31px
 }
/*arrow menu*/
#nav li a.arrow,
.em_nav a.arrow{ 
	padding:7px 15px 7px 10px !important;
	width:20px;
	display:none; 
	position:absolute; 
	right:5px; 
	top:0;
	margin-right:0 !important;
	/*overflow:hidden;*/
	border:none !important;
	background-color:transparent !important;
}
.dd-menu-link .menu-container li.menu-item-link a.arrow {padding-top:9px !important;}

.em_nav .vnav a.arrow{ display:block}
.em_nav a.arrow span { 
	display:block; 
	/* add background arrow here */ 
	text-indent:-999em; line-height:0 !important;
	padding:0 !important;
	border:4px solid transparent;
 }
.em_nav .vnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.arrow,
.em_nav .vnav .menu-item-depth-0 > a.arrow {padding:13px 15px 7px !important; right:3px; height:auto;}
.em_nav .em-catalog-navigation ul.level0 a.arrow,
.em_nav .menu-container a.arrow{ 
	display:block;
}
.em-catalog-navigation li.parent > a{ margin-right:0}

/*.em_nav a.arrow{ }
.em_nav a.arrow:after,
.em_nav a.arrow:before{
	position:absolute;
	top:12px;
	right:0;
	content:"";
	width:19px;
	height:12px;
	z-index:99999;
	border:7px solid transparent;
	border-left-color:#999999;
	
}
.em_nav a.arrow:after{
	border-left-color:#ffffff;
	left:-2px;
}
.vnav .menu-item-depth-0 > .em-catalog-navigation > li.parent:hover > a.arrow:before,
.em_nav .vnav .menu-item-parent:hover > a.arrow:before{
	border-left-color:#ffffff;
}
.vnav .menu-item-depth-0 > .em-catalog-navigation > li.parent:hover > a.arrow:after,
.em_nav .vnav > .menu-item-parent:hover > a.arrow:after{
	border-left-color:#1a80ff;
}
*/

/* ------ Mega Menu ------ */
.hnav .menu-item-depth-0 .menu-container .col-menu,
.col-menu {padding:20px 10px;}
.megamenu-wrapper{ 
	clear:both; 
}
.menuleft .megamenu-wrapper{ 
	margin-top:0px
}
.menu-item-parent > a{
	margin-right:0
}
.hnav .em-catalog-navigation li{}
.hnav .menu-container .em-catalog-navigation > li.level0{/* padding-top:4px; padding-bottom:4px; clear:both; float:left;*/}
/*.hnav .em-catalog-navigation > li.level0{ padding:0}*/
.menu-item-depth-0 > .em-catalog-navigation > li.level0 > a,
.em_nav .menu-item-depth-0 > a{ 
	text-transform:uppercase; padding:5px 30px 5px 0;
}

.hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a, .hnav .menu-item-depth-0 > a {padding-bottom:20px;}
.hnav .menu-item-depth-0 > .menu-container, .hnav .menu-item-depth-0 > .menu-container {top:49px;}
/*.hnav .menu-item-depth-0:hover > .menu-container, .hnav .menu-item-depth-0.hover > .menu-container {top:53px;}*/

.em_nav .hnav {margin:0;}
.menu-item-depth-0 > a span,
.menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span{ 
	padding:0; text-transform:uppercase;
}

.menu-item-text > ul > li,
.menu-container .em-catalog-navigation li {float:none;}

/* horizontal menu */

.hnav .menu-item-depth-0 { 
	float:left; 
	position:relative
}

/*.hnav .menu-item-depth-0 > .menu-container { 
	position:absolute; 
	top:30px; 
	left:-9999px; 
	z-index:9999 
}*/

/* vertical menu */

.vnav { width:auto;}
.vnav .menu-item-depth-0 { 
	position:relative
}
.em_nav .vnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span,
.em_nav .vnav .menu-item-depth-0 > a span{ 
	padding:6px 20px 6px 0;
	text-align:left;
}
.em-catalog-navigation.vertical li a{ }
.vnav .menu-item-depth-0 > .menu-container { 
	position:absolute; 
	top:-1px; 
	left:-9999px;
	z-index:999
}


.hnav .menu-item-depth-0 > .menu-container{}

/* level 1 */
.em-catalog-navigation li > ul{
	
	padding:15px 0px;
	box-shadow:none ;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	
	/*border:1px solid #d3d3d3;*/
}
.em-catalog-navigation.horizontal > li:hover > ul{top:-21px; left:100%;}
.menu-item-text.menu-item-depth-0 > .em-catalog-navigation.horizontal > li:hover > ul{top:50px; left:0;}
.menu-link .menu-container  .em-catalog-navigation{ margin:0 -20px}
.menu-link .menu-container  .em-catalog-navigation > li{ padding-left:20px; padding-right:20px}
.menu-link .em-catalog-navigation ul.level0 li{ padding:4px 20px}

/* level 2+ */
.dd-menu-link .menu-container li.menu-item-link,
.menu-item-depth-0 > .em-catalog-navigation > li.level0 li,
.menu-container .em-catalog-navigation > li{ padding:8px 0}

.dd-menu-link .menu-container li.menu-item-link,
.menu-item-depth-0 > .em-catalog-navigation > li.level0 li{ padding-left:20px; padding-right:20px}
.menu-item-depth-0 .menu-item-link:hover > .menu-container,
.menu-item-depth-0 .menu-item-link.hover > .menu-container,
.vnav .menu-item-depth-0:hover > .menu-container,
.vnav .menu-item-depth-0.hover > .menu-container { left:100% }
.nav-right .vnav .menu-item-depth-0:hover > .menu-container,
.nav-right .vnav .menu-item-depth-0.hover > .menu-container { left:auto; right:100% }

/*Menu product*/
.em_nav .menu-container h5{ padding-top:17px}
.em_nav .menu-container h5:first-child{ padding-top:0}
.em_nav .widget-title h3,
.em_nav .widget .widget-title h3,
.em_nav h5, 
.em_nav .h5{ text-transform:uppercase; margin:3px 0 4px; padding:0 0 7px;}
.em_nav .widget-title h3{}
.list-img{ margin:0; overflow:hidden}
.list-img a{float:left; margin:0; padding:0 !important }
.em_nav a img{ margin-bottom:0; max-width:100%;}
.em_nav a:hover img{opacity:0.8; -moz-opacity:0.8; -webkit-opacity:0.8; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);}
/*.em_nav .brands li {float:left; margin-right:3%; width:22.4%;}
.em_nav .brands li.last {margin-right:0;}
.em_nav .brands li img {max-width:100%;}*/
.em_nav .brands{ overflow:hidden}
.em_nav .brands li{ float:left; margin-right:18px}
.em_nav .brands li.first-child {margin-right:0;}
.em_nav .img{ margin-bottom:12px; padding-top:4px}
.em_nav .col-title{padding-top:38px; margin-bottom:12px}
.em_nav .widget-products{ padding:16px 0 0 10px}
.em_nav .products-grid li.item{ margin:0; width:100%; background:none}
.em_nav .products-grid .product-image{ margin-bottom:22px}
.em_nav .products-grid .product-name{ margin-bottom:3px; text-align:left;}
.em_nav .products-grid li.item .actions{ float:left; clear:both}
.em_nav li.item .actions .add-to-links{ clear:none}
.em_nav .products-list li.item{ padding:0}
.em_nav .ratings .amount a{ font-size:100%}

.em_nav .products-grid li.item {text-align:center;}
.em_nav li.item .product-image{ position:relative; display:inline-block; padding:5px;}
.em_nav li.item .product-name a {padding:0 !important;text-align:left;}
.em_nav .products-grid li.item .price-box {margin-top:0;text-align:left;}
.em_nav .products-grid li.item .product-shop{text-align:left;}


.menu-title{text-transform:uppercase; padding:10px 10px 8px; margin-bottom:5px; cursor:pointer; position:relative;}
.menu-title a{}
.menu-title .option{float:right; height:0; margin:7px auto 0; width:0; text-indent:-999em; cursor:pointer;}

.header-container .navbar-fixed-top .top-container{padding-top:0;}
.em_nav.navbar-fixed-top .hnav{
	margin-bottom:0
}

.navbar-fixed-top .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a, .navbar-fixed-top .hnav .menu-item-depth-0 > a {padding-top:10px; padding-bottom:13px;}
.navbar-fixed-top .hnav .menu-item-depth-0.menu-item-link > .menu-container, .navbar-fixed-top .hnav .menu-item-depth-0 > .em-catalog-navigation.horizontal li.level0 > ul {top:47px;}
.navbar-fixed-top .hnav .menu-item-depth-0.menu-item-link.menu-item-parent:hover:after, .navbar-fixed-top .hnav .menu-item-depth-0.menu-item-text > .em-catalog-navigation.horizontal li.level0.parent:hover:after {top:48px;}

.em_nav.navbar-fixed-top .hnav .menu-item-depth-0 > .menu-container,
.em_nav.navbar-fixed-top .em-catalog-navigation.horizontal > li > ul,
.em_nav.navbar-fixed-top .em-catalog-navigation.horizontal > li:hover > ul{
	top:40px;
}

@media (min-width:768px){
	
	.menu-item-depth-0 > .em-catalog-navigation > li.level0:hover > a,
	.em_nav .menu-item-depth-0:hover > a{ 
		z-index:10;
	}
	.col-menu,
	.menu-item-link > .menu-container,
	.em-catalog-navigation  li > ul {
	/*padding:0; *//*backface-visibility:hidden;
	transform:scale(0.7,1); -webkit-transform:scale(0.7,1); -moz-transform:scale(0.7,1);
	transition:-webkit-transform 500ms ease 0ms;
	transition:-moz-transform 500ms ease 0ms;
	-webkit-transition:-webkit-transform 500ms ease 0ms;
	-moz-transition:-moz-transform 500ms ease 0ms;	

	transform-origin:0 0;
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;*/}

	/*.nav-right .menu-item-link > .menu-container,
	.nav-right .em-catalog-navigation  li > ul {
	transform-origin:100% 0;
	-webkit-transform-origin:100% 0;
	-moz-transform-origin:100% 0;}

	.hnav .menu-item-depth-0 > .menu-container,
	.hnav .menu-item-depth-0 > .em-catalog-navigation.horizontal li.level0 > ul {transform:scale(1,0.7); -webkit-transform:scale(1,0.7); -moz-transform:scale(1,0.7);}


	.hnav .menu-item-depth-0:hover > .menu-container,
	.hnav .menu-item-depth-0 > .em-catalog-navigation.horizontal li.level0:hover > ul,
	.menu-item-link:hover > .menu-container,
	.em-catalog-navigation li:hover > ul {transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);}*/

}
@media \0screen {

	.menu-item-depth-0 > .em-catalog-navigation > li.level0:hover > a,
	.em_nav .menu-item-depth-0:hover > a{ 
		z-index:10;
	}

	/*.menu-item-link > .menu-container,
	.em-catalog-navigation  li > ul {padding:0;}*/
}


/* Mobile view */
@media (max-width:767px) {
	.hnav .menu-item-depth-0 .menu-container .col-menu, .col-menu {padding:10px 0px;}
	.dd-menu-link .menu-container, .em-catalog-navigation li > ul,
	.menu-item-text.menu-item-depth-1 .em-catalog-navigation, 
	.menu-item-text.menu-item-depth-1 .em-catalog-navigation ul, 
	.em-catalog-navigation .level0 ul{ padding-top:10px; padding-bottom:10px}
	.hnav .menu-item-depth-0.menu-item-link.menu-item-parent:hover:after, .hnav .menu-item-depth-0.menu-item-text > .em-catalog-navigation.horizontal li.level0.parent:hover:after {display:none !important;}
	.em_nav .container{ padding-left:0; padding-right:0}
	.menu-link .menu-container .em-catalog-navigation > li{ padding-left:10px}
	.vnav .menu-item-depth-0:hover > .menu-container, 
	.vnav .menu-item-depth-0.hover > .menu-container{ position:static}

	.hnav .menu-item-depth-0 > a, 	
	.menu-item-depth-0 > .em-catalog-navigation.horizontal > li > a{text-align:left; padding:6px 0 8px 10px; margin-right:35px; padding-bottom:0;}
	.menu-item-depth-0 > .em-catalog-navigation > li.level0 > a, .em_nav .menu-item-depth-0 > a{ padding-left:10px}
	.hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a, 
	.hnav .menu-item-depth-0 > a {padding-bottom:8px;}
	#nav li a.arrow, .em_nav a.arrow {display:block; right:3px}
	.em_nav .vnav .menu-item-depth-0 > .em-catalog-navigation > li.level0{ margin-bottom:3px}
	.menu-item-depth-0{ margin-bottom:3px}
	#nav li a.arrow, .em_nav ul.menu-container a.arrow {top:4px;}
	.menuleft #nav li a.arrow, .menuleft .em_nav a.arrow{ top:0px}
	.col-menu{ top:0px; margin-left:0; margin-right:0}
	
	.menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.arrow,
	.em_nav .menu-item-depth-0 > a.arrow{padding:15px 18px 15px !important; right:0;}
	.menu-item-text h3,
	.em_nav .menu-container h5:first-child{/* padding-top:10px*/}
	.em_nav .no_quickshop{ padding-top:10px}

	
	.em_nav .container{ margin:0; padding-left:0; padding-right:0}
	.menu-link .em-catalog-navigation ul.level0 li{ padding-left:10px; padding-right:30px}
	.menu-link .menu-container .em-catalog-navigation{ margin:0 -10px}
	.dd-menu-link .menu-container li.menu-item-link, 
	.menu-item-depth-0 > .em-catalog-navigation > li.level0 li{ padding-left:10px; padding-right:10px}
	
		
	/*menu default*/
	.em-catalog-navigation li.parent > a{ margin-right:0;}
	.hnav .em-catalog-navigation > li.level0{ margin-bottom:3px}
	.menu-item-depth-2 .em-catalog-navigation ul,
	.em-catalog-navigation ul.level0 ul{ border:none !important;}
	
	.em_nav .brands li img{ width:120px}
}

.menu_col1,
.menu_col2,
.menu_col3,
.menu_col4,
.menu_col5,
.menu_col6,
.menu_col7,
.menu_col8,
.menu_col9,
.menu_col10,
.menu_col11,
.menu_col12,
.menu_col13,
.menu_col14,
.menu_col15,
.menu_col16,
.menu_col17,
.menu_col18,
.menu_col19,
.menu_col20,
.menu_col21,
.menu_col22,
.menu_col23,
.menu_col24 {
	display:inline;
	float:left;
	position:relative;
	/*margin-left:10px;
	margin-right:10px;*/
}
.menu_col1 {
	width:30px;
}

.menu_col2 {
	width:80px;
}

.menu_col3 {
	width:130px;
}

.menu_col4 {
	width:180px;
}

.menu_col5 {
	width:230px;
}

.menu_col6 {
	width:280px;
}

.menu_col7 {
	width:330px;
}

.menu_col8 {
	width:380px;
}

.menu_col9 {
	width:430px;
}

.menu_col10 {
	width:480px;
}

.menu_col11 {
	width:530px;
}

.menu_col12 {
	width:580px;
}

.menu_col13 {
	width:630px;
}

.menu_col14 {
	width:680px;
}

.menu_col15 {
	width:730px;
}

.menu_col16 {
	width:780px;
}

.menu_col17 {
	width:830px;
}

.menu_col18 {
	width:880px;
}

.menu_col19 {
	width:930px;
}

.menu_col20 {
	width:980px;
}

.menu_col21 {
	width:1030px;
}

.menu_col22 {
	width:1080px;
}

.menu_col23 {
	width:1130px;
}

.menu_col24 {
	width:1180px;
}

/* Adapt-2*/
@media (min-width:980px) and (max-width:1199px) {
	.menu_col1 {
		width:20px;
	}

	.menu_col2 {
		width:60px;
	}

	.menu_col3 {
		width:100px;
	}

	.menu_col4 {
		width:140px;
	}

	.menu_col5 {
		width:180px;
	}

	.menu_col6 {
		width:220px;
	}

	.menu_col7 {
		width:260px;
	}

	.menu_col8 {
		width:300px;
	}

	.menu_col9 {
		width:340px;
	}

	.menu_col10 {
		width:380px;
	}

	.menu_col11 {
		width:420px;
	}

	.menu_col12 {
		width:460px;
	}

	.menu_col13 {
		width:500px;
	}

	.menu_col14 {
		width:540px;
	}

	.menu_col15 {
		width:580px;
	}

	.menu_col16 {
		width:620px;
	}

	.menu_col17 {
		width:660px;
	}

	.menu_col18 {
		width:700px;
	}

	.menu_col19 {
		width:740px;
	}

	.menu_col20 {
		width:780px;
	}

	.menu_col21 {
		width:820px;
	}

	.menu_col22 {
		width:860px;
	}

	.menu_col23 {
		width:900px;
	}

	.menu_col24 {
		width:940px;
	}
}

/* Adapt-1*/
@media (min-width:768px) and (max-width:979px) {
	.menu_col1 {
		width:10px;
	}

	.menu_col2 {
		width:40px;
	}

	.menu_col3 {
		width:70px;
	}

	.menu_col4 {
		width:100px;
	}

	.menu_col5 {
		width:130px;
	}

	.menu_col6 {
		width:160px;
	}

	.menu_col7 {
		width:190px;
	}

	.menu_col8 {
		width:220px;
	}

	.menu_col9 {
		width:250px;
	}

	.menu_col10 {
		width:280px;
	}

	.menu_col11 {
		width:310px;
	}

	.menu_col12 {
		width:340px;
	}

	.menu_col13 {
		width:370px;
	}

	.menu_col14 {
		width:400px;
	}

	.menu_col15 {
		width:430px;
	}

	.menu_col16 {
		width:460px;
	}

	.menu_col17 {
		width:490px;
	}

	.menu_col18 {
		width:520px;
	}

	.menu_col19 {
		width:550px;
	}

	.menu_col20 {
		width:580px;
	}

	.menu_col21 {
		width:610px;
	}

	.menu_col22 {
		width:640px;
	}

	.menu_col23 {
		width:670px;
	}

	.menu_col24 {
		width:700px;
	}
}

/* Adapt-0 */
@media (max-width:767px) {
	.menu_col1,
	.menu_col2,
	.menu_col3,
	.menu_col4,
	.menu_col5,
	.menu_col6,
	.menu_col7,
	.menu_col8,
	.menu_col9,
	.menu_col10,
	.menu_col11,
	.menu_col12,
	.menu_col13,
	.menu_col14,
	.menu_col15,
	.menu_col16,
	.menu_col17,
	.menu_col18,
	.menu_col19,
	.menu_col20,
	.menu_col21,
	.menu_col22,
	.menu_col23,
	.menu_col24 {
	  margin-left:0px;
	  margin-right:0px;
	  float:none;
	  display:block;
	  position:static;
	  width:auto;
	}

	.menu_col1:after,
	.menu_col2:after,
	.menu_col3:after,
	.menu_col4:after,
	.menu_col5:after,
	.menu_col6:after,
	.menu_col7:after,
	.menu_col8:after,
	.menu_col9:after,
	.menu_col10:after,
	.menu_col11:after,
	.menu_col12:after,
	.menu_col13:after,
	.menu_col14:after,
	.menu_col15:after,
	.menu_col16:after,
	.menu_col17:after,
	.menu_col18:after,
	.menu_col19:after,
	.menu_col20:after,
	.menu_col21:after,
	.menu_col22:after,
	.menu_col23:after,
	.menu_col24:after { content:'.';visibility:hidden;display:block;clear:both;overflow:hidden;height:0;zoom:1 }

}

