.csslider {position:relative;}
.csslider .viewport{overflow:hidden;width:100%;}
.csslider .viewport > ul{overflow:hidden;}
.vertical.csslider .viewport{height:344px;}
.horizontal.csslider ul.slides > li{float:left; margin-right:10px;}


.csslider.vertical .viewport > ul > li {display:inline; margin-right: 0 !important; float:left; clear:both; margin-left:1px;}
.csslider li.itemslider {float:left;}
.csslider li.item {margin-bottom:20px;}
.csslider a.next,.csslider a.prev{
	position:absolute;
    top:0;
}
.csslider .product-shop {}
.csslider .no-float .product-image {float:none;}
.csslider  a.product-image {display:block;}
.csslider .products-grid .product-image {display:block; max-width:100%;}

.csslider a.prev, .csslider a.next {text-indent:-999em; display:inline-block; text-align:left;position:absolute; top:-10%; width:54px; height:54px; cursor:pointer; }
.csslider a.prev{left:0}
.csslider a.next{right:0}


.csslider a.prev {left:auto; right:64px; background:transparent url(../images/icons.png) no-repeat 17px -226px;
}

.csslider a.prev:hover {background-position:17px -343px;}
.csslider a.next{ right:0; background:transparent url(../images/icons.png) no-repeat -64px -226px;}
.csslider a.next:hover{background-position:-64px -343px;}


.csslider.vertical {margin-bottom:25px; margin-top:70px;}
.csslider.vertical .controls > a {top:-63px;}
.csslider.vertical a.prev {/*right:45px; left:auto; top:0; */background-position:-148px -364px; opacity:1;}
.csslider.vertical a.prev:hover {background-position:-235px -364px;}

.csslider.vertical a.next {/*right:0; top:0; */background-position:-148px -453px;opacity:1;}
.csslider.vertical a.next:hover {background-position:-235px -453px;}

/*.csslider a.product-image, .csslider a.product-image > img {width:200px !important;}*/
/*.csslider .ratings {display:none !important}
.csslider .product-shop {display:none}*/
/*.csslider .product-image {display:inline !important}*/
/*.products-grid .product-item {display:block;}
*/
