.sidebar .block,.sidebar .megamenu-wrapper,.em_sidebar .widget-recentreview-products,.header .account-content, .block-cart-top .cart-popup,.header .toolbar-switch .toolbar-dropdown ul ,.header .form-search,.col-menu, .dd-menu-link .menu-container, .em-catalog-navigation li > ul{border:1px solid (darken(@body_line4_color,10%));.lineStyle (@body_bg3_color);}

.em_sidebar .tree-filter li.selected > .label, .block-layered-nav a:hover{ color:@header_text2_color}
.products-list li.item{ background-color:transparent;}

.tabs_control li a{ color:@body_text2_color}
.tabs_control li.ui-tabs-active a, .tabs_control li a:hover{color:@body_text4_color;}
