<?php
    $setting = Mage::helper('galawintertimesettings');
    $boxwide_selected =  explode(',', $setting->getGeneral_BoxWide()); 
    
    /* Check Homepage */
    $page = Mage::app()->getFrontController()->getRequest()->getRouteName();
    $homePage = false;
    if($page =='cms'){
        $cmsSingletonIdentifier = Mage::getSingleton('cms/page')->getIdentifier();
        $homeIdentifier = Mage::app()->getStore()->getConfig('web/default/cms_home_page');
        if($cmsSingletonIdentifier === $homeIdentifier){
            $homePage = true;
        }
    }
    /* End Check Homepage */
    
    /* Check for menu left default */
    $url_menuleft = Mage::helper("core/url")->getCurrentUrl();
    $url_check_menuleft = "themeframework_admin/area/preview";
    $pos_menuleft = stripos($url_menuleft, $url_check_menuleft);
    /* End Check for menu left default */
?>

<link rel="stylesheet/less" type="text/css" href="<?php echo $this->getSkinUrl('css/less/theme.less.php').'?'.http_build_query($setting->getAllCssConfig(), '', '&amp;'); ?>" media="all" />

<?php if ($setting->getTypography_GoogleFonts()): ?>
<?php 
	$fontArray = explode(',',$setting->getTypography_GoogleFonts());
	$fontIncArray = array();
	
	if ($fontWeights = str_replace(' ','', $setting->getTypography_GoogleFontsWeights()))
		$fontWeights = ':'.$fontWeights;
	else 
		$fontWeights = ':200,200italic,300,300italic,400,400italic,500,500italic,600italic,600italic,700,700italic,800,800italic,900,900italic';
	foreach($fontArray as $font){
		echo  "<link href='http://fonts.googleapis.com/css?family=".str_replace(' ','+',$font)."$fontWeights&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css'/>";
	}
?>
<?php endif ?>

<script type="text/javascript">
//<![CDATA[
    var isMobile = /iPhone|iPod|iPad|Phone|Mobile|Android|hpwos/i.test(navigator.userAgent);
    var isPhone = /iPhone|iPod|Phone|Android/i.test(navigator.userAgent);
    var product_zoom = null;
    var urlsite = '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>';
    var FREEZED_TOP_MENU = '<?php echo $setting->getGeneral_FreezedTopMenu(0) ?>';
    var useTab = '<?php echo $setting->getImageProduct_UseTabs() ?>';
    var PRODUCTSGRID_POSITION_ABSOLUTE = '<?php echo $setting->getProductsGrid_Absolute("masonry") ?>';
    var isHomePage = '<?php echo $homePage ?>';
    var pos_menuleft = '<?php echo $pos_menuleft ?>';
    var language = '<?php echo $this->getSkinUrl('images/language/') ?>';
    var fullSlideshow = '<?php echo $setting->getGeneral_WideslideFull()?>';
    var boxwide_selected = '<?php echo $boxwide_selected[0]?>';
    var ANIMATION_LOADING = '<?php echo $setting->getGeneral_DisableAnimateLoading(0) ?>';
    var animate_header = '<?php echo $setting->getGeneral_AnimateHeader('fadeInDown') ?>';
    var animate_left = '<?php echo $setting->getGeneral_AnimateLeft('fadeInDown') ?>';
    var animate_right = '<?php echo $setting->getGeneral_AnimateRight('fadeInDown') ?>';
    var animate_main = '<?php echo $setting->getGeneral_AnimateMain('fadeInDown') ?>';
    var animate_footer = '<?php echo $setting->getGeneral_AnimateFooter('fadeInDown') ?>';
    var disableVariation = '<?php echo $setting->getGeneral_DisableFrontendVariation() ?>';
	var isWindowPhone = '<?php echo $setting->checkWindowsMobileOS()?>';
    
    less = {
        env: "development", // or "production"
        async: false,       // load imports async
        fileAsync: false,   // load imports async when in a page under
                            // a file protocol
        poll: 1000,         // when in watch mode, time in ms between polls
        functions: {},      // user functions, keyed by name
        dumpLineNumbers: "comments", // or "mediaQuery" or "all"
        relativeUrls: false,// whether to adjust url's to be relative
                            // if false, url's are already relative to the
                            // entry less file
        rootpath: "<?php echo $this->getSKinUrl('css/'); ?>"// a path to add on to the start of every url
                            //resource
    };
    
    var urlSkinsite = '<?php echo $this->getSKinUrl(); ?>';
    LightboxOptions = Object.extend({
        fileLoadingImage:        urlSkinsite+'images/loading.gif',     
        fileBottomNavCloseImage: urlSkinsite+'images/closelabel.png',
    
        overlayOpacity: 0.8,   // controls transparency of shadow overlay
    
        animate: true,         // toggles resizing animations
        resizeSpeed: 7,        // controls the speed of the image resizing animations (1=slowest and 10=fastest)
    
        borderSize: 10,         //if you adjust the padding in the CSS, you will need to update this variable
    
    	// When grouping images this is used to write: Image # of #.
    	// Change it for non-english localization
    	labelImage: "Image",
    	labelOf: "of"
    }, window.LightboxOptions || {});	
//]]>
</script>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/less/less-1.3.3.min.js')?>"></script>