<div class="visible-sm visible-md visible-lg">
	<?php
		/* get config from themesetting */
		$setting = Mage::helper('galawintertimesettings');
		$fonts = Mage::getModel('galawintertimesettings/config_font')->toOptionArray();
		$bg_url="skin/frontend/default/galawintertime/images/stripes/";
		$boxwide = Mage::getModel('galawintertimesettings/config_boxwide')->toOptionArray();
        $ischecked = $setting->getGeneral_WideslideFull();
	?>
	<a href="javascript:void(0)" class="btn-toggle">+ open/close</a>
	<div id="demotool_variation">
		<div class="variation-cp" style="display:none">
			<div class="demotool-title">Magento Theme Variations</div>
			<form method="get" id="emvariationform" action="<?php echo $this->getSkinUrl('css/variation.php') ?>">
				<div class="demotool-content">
					<!-- Google Fonts -->
					<div class="demo demo-google-fonts">
						<div class="content-title"><span>Google Fonts</span></div>
						<div class="wrapper-content google-fonts-setting">
							<div class="box last">
								<div class="content">
									<div class="col">
										<div class="row">
											<div class="label">Import these google fonts</div>
											<div class="input">
												<select id="em_variation_google_font" multiple="multiple" rows='10' size='10' >
													<?php $selectedFonts = explode(',', $setting->getTypography_GoogleFonts()) ?>
													<?php foreach ($fonts as $_font): ?>
													<option value="<?php echo htmlspecialchars($_font['value']) ?>" <?php echo @in_array($_font['value'], $selectedFonts) ? 'selected="selected"' : '' ?>><?php echo $_font['label'] ?></option>
													<?php endforeach ?>
												</select>
											</div>
											<div class="desc">Select which google fonts should be imported to your site</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Element Fonts -->
					<div class="demo demo-fonts">
						<div class="content-title"><span>Element Fonts</span></div>
						<div class="wrapper-content fonts-setting">
							<div class="box last">
								<div class="content">
									<div class="col">
										<div class="row">
											<div class="label">General Font</div>
											<div class="input"><input type="text" name="general_font" value="<?php echo htmlspecialchars($setting->getTypography_GeneralFont()) ?>" class="input-text"/></div>
											<div class="desc">Font for body, content, text...<br/>E.g. <em>14px Signika, Arial, san-serif</em></div>
										</div>
										<div class="row">
											<div class="label">H1</div>
											<div class="input"><input type="text" name="h1_font" value="<?php echo htmlspecialchars($setting->getTypography_H1()) ?>" class="input-text" /></div>
											<div class="desc">Font of H1 element and other similar h1 heading.<br/>E.g. <em>24px Signika, Arial, san-serif</em></div>
										</div>
										<div class="row">
											<div class="label">H2</div>
											<div class="input"><input type="text" name="h2_font" value="<?php echo htmlspecialchars($setting->getTypography_H2()) ?>" class="input-text" /></div>
											<div class="desc">Font of H2 element and other similar h2 heading.<br/>E.g. <em>20px Signika, Arial, san-serif</em></div>
										</div>
										<div class="row">
											<div class="label">H3</div>
											<div class="input"><input type="text" name="h3_font" value="<?php echo htmlspecialchars($setting->getTypography_H3()) ?>" class="input-text" /></div>
											<div class="desc">Font of H3 element and other similar h3 heading.<br/>E.g. <em>18px Signika, Arial, san-serif</em></div>
										</div>
										<div class="row">
											<div class="label">H4</div>
											<div class="input"><input type="text" name="h4_font" value="<?php echo htmlspecialchars($setting->getTypography_H4()) ?>" class="input-text" /></div>
											<div class="desc">Font of H4 element and other similar h4 heading.<br/>E.g. <em>16px Signika, Arial, san-serif</em></div>
										</div>
										<div class="row">
											<div class="label">H5</div>
											<div class="input"><input type="text" name="h5_font" value="<?php echo htmlspecialchars($setting->getTypography_H5()) ?>" class="input-text" /></div>
											<div class="desc">Font of H5 element and other similar h5 heading.<br/>E.g. <em>16px Ubuntu, Arial, san-serif</em></div>
										</div>
										<div class="row">
											<div class="label">H6</div>
											<div class="input"><input type="text" name="h6_font" value="<?php echo htmlspecialchars($setting->getTypography_H6()) ?>" class="input-text" /></div>
											<div class="desc">Font of H6 element and other similar h6 heading.<br/>E.g. <em>12px Signika, Arial, san-serif</em></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- General -->
					<div class="demo demo-general">
						<div class="content-title"><span>General Config</span></div>
						<div class="wrapper-content general-setting">
							<div class="box last">
								<div class="content">
									<div class="col">
										<div class="row">
											<div class="label">Box/Wide Mode</div>
											<div class="input">
												<select id="em_box_wide" name="em_box_wide" class="em_box_wide select">
													<?php $selectedBoxWide = explode(',', $setting->getGeneral_BoxWide()) ?>
													<?php foreach ($boxwide as $boxwide_item): ?>
													<option value="<?php echo htmlspecialchars($boxwide_item['value']) ?>" <?php echo @in_array($boxwide_item['value'], $selectedBoxWide) ? 'selected="selected"' : '' ?>><?php echo $boxwide_item['label'] ?></option>
													<?php endforeach ?>
												</select>
											</div>
											<div class="desc">Default: Wide</div>
										</div>
										<div class="row" id="emoption_wideslideshow">
											<div class="input">
												<input  id="wide_full" class="full_slideshow" type="checkbox" name="wide_full" value="wide_full" <?php if($ischecked!=0):?>checked<?php endif;?> /><span>Full Slideshow</span>
											</div>
										</div>
										<div id="page_boxconfig">
											<div class="row">
												<div class="label">Page Background Color</div>
												<div class="input"><input type="text" name="page_bg_color" value="<?php echo htmlspecialchars($setting->getGeneral_PageBgColor()) ?>" class="color-picker" /></div>
												<div class="desc">Default #8F9AD8</div>
											</div>
											<div class="row">
												<div class="label">Page Background Pattern</div>
												<div class="input">
													<input type="hidden" name="page_bg_image" value="<?php echo htmlspecialchars($setting->getTypography_PageBgImage()) ?>"  />
													<?php $imgDir = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/galawintertime/images/stripes/'; ?>                                 
													<?php foreach (Mage::getModel('galawintertimesettings/config_stripes')->toOptionArray() as $row):?>
													<?php $img_url = $imgDir . $row['value']; ?>
													<?php $imgBgUrl = $bg_url . $row['value']; ?>
													<a href="#" class="page_bg_image" data-input-value="<?php echo $imgBgUrl; ?>" <?php echo $setting->getTypography_PageBgImage() == $row['value'] ? 'style="selected=\'selected\'"' : '' ?>>
													<img src="<?php echo $imgDir . 'blank.gif' ?>" style="background-image:url(<?php echo $img_url ?>)" alt="" />
													</a>
													<?php endforeach ?>
												</div>
												<div class="desc">Specify background pattern image.</div>
											</div>
											<div class="row">
												<div class="label">Page Background Position</div>
												<div class="input"><input type="text" name="page_bg_position" value="<?php echo htmlspecialchars($setting->getTypography_PageBgPosition()) ?>" class="input-text"/></div>
												<div class="desc">Property Values: left top, left center, left bottom,right top, right center, right bottom,center top,center center,center bottom,x% y%, xpos ypos, inherit<br/>Default: 0 0</div>
											</div>
											<div class="row">
												<div class="label">Page Background Repeat</div>
												<div class="input"><input type="text" name="page_bg_repeat" value="<?php echo htmlspecialchars($setting->getTypography_PageBgRepeat()) ?>" class="input-text"/></div>
												<div class="desc">Property Values: repeat, repeat-x, repeat-y, no-repeat, inherit<br /> Default: repeat</div>
											</div>
										</div>
										<div class="row">
												<div class="label">Box Shadow</div>
												<div class="input"><input type="text" name="box_shadow" value="<?php echo htmlspecialchars($setting->getTypography_BoxShadow()) ?>" class="input-text"/></div>
												<div class="desc">Default: 0 5px 5px #cdcdcd</div>
											</div>
											<div class="row">
												<div class="label">Rounded Corner</div>
												<div class="input"><input type="text" name="rounded_corner" value="<?php echo htmlspecialchars($setting->getTypography_RoundedCorner()) ?>" class="input-text"/></div>
												<div class="desc">Default: 0</div>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Header -->
					<div class="demo demo-header">
						<div class="content-title"><span>Header</span></div>
						<div class="wrapper-content header-setting">
							<div class="box last">
								<div class="content">
									<div class="col col-1">
										<div class="row">
											<div class="label">Header Background Color</div>
											<div class="input"><input type="text" name="header_bg_color" value="<?php echo htmlspecialchars($setting->getTypography_HeaderBgColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #ffffff</div>
										</div>
										<div class="row">
											<div class="label">Header Arrow Title Color</div>
											<div class="input"><input type="text" name="header_text3_color" value="<?php echo htmlspecialchars($setting->getTypography_HeaderText3Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #191919</div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Header Text Color</div>
											<div class="input"><input type="text" name="header_text_color" value="<?php echo htmlspecialchars($setting->getTypography_HeaderTextColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #818180</div>
										</div>
										<div class="row">
											<div class="label">Header Arrow Dropdown Color</div>
											<div class="input"><input type="text" name="header_line2_color" value="<?php echo htmlspecialchars($setting->getTypography_HeaderLine2Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #367FA2</div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Header Line Color</div>
											<div class="input"><input type="text" name="header_line_color" value="<?php echo htmlspecialchars($setting->getTypography_HeaderLineColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #cccccc</div>
										</div>
										<div class="row">
											<div class="label">Header Text Title, Hover/Active Color</div>
											<div class="input"><input type="text" name="header_text2_color" value="<?php echo htmlspecialchars($setting->getTypography_HeaderText2Color()) ?>" class="color-picker" /></div>
											<div class="desc"> Default: #367fa4</div>
										</div>
									</div>
									<div class="col">
										<div class="row">
											<div class="label">Header Background Pattern</div>
											<div class="input">
												<input type="hidden" name="header_bg_image" value="<?php echo htmlspecialchars($setting->getTypography_HeaderBgImage()) ?>"  />
												<?php $imgDir = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/galawintertime/images/stripes/'; ?>                                 
												<?php foreach (Mage::getModel('galawintertimesettings/config_stripes')->toOptionArray() as $row):?>
												<?php $img_url = $imgDir . $row['value']; ?>
												<?php $imgBgUrl = $bg_url . $row['value']; ?>
												<a href="#" class="header_bg_image" data-input-value="<?php echo $imgBgUrl; ?>" <?php echo $setting->getTypography_HeaderBgImage() == $row['value'] ? 'style="selected=\'selected\'"' : '' ?>>
												<img src="<?php echo $imgDir . 'blank.gif' ?>" style="background-image:url(<?php echo $img_url ?>)" alt="" />
												</a>
												<?php endforeach ?>
											</div>
											<div class="desc">Specify background pattern image.</div>
										</div>
										<div class="row">
											<div class="label">Header Background Repeat</div>
											<div class="input"><input type="text" name="header_bg_repeat" value="<?php echo htmlspecialchars($setting->getTypography_HeaderBgRepeat()) ?>" class="input-text"/></div>
											<div class="desc">Property Values: repeat, repeat-x, repeat-y, no-repeat, inherit<br /> Default: repeat</div>
										</div>
										<div class="row">
											<div class="label">Header Background Position</div>
											<div class="input"><input type="text" name="header_bg_position" value="<?php echo htmlspecialchars($setting->getTypography_HeaderBgPosition()) ?>" class="input-text"/></div>
											<div class="desc">Property Values: left top, left center, left bottom,right top, right center, right bottom,center top,center center,center bottom,x% y%, xpos ypos, inherit<br/>Default: 0 0</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Top Menu -->
					<div class="demo demo-topmenu">
						<div class="content-title"><span>Top Menu</span></div>
						<div class="wrapper-content topmenu-setting">
							<div class="box last">
								<div class="content">
									<div class="col col-1">
										<!--<div class="row">
											<div class="label">Top Menu Background Color</div>
											<div class="input"><input type="text" name="topmenu_bg_color" value="<?php echo htmlspecialchars($setting->getTypography_TopmenuBgColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #ffffff</div>
										</div>-->
										<div class="row">
											<div class="label">Top Menu Text Color</div>
											<div class="input"><input type="text" name="topmenu_text_color" value="<?php echo htmlspecialchars($setting->getTypography_TopmenuTextColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #818180</div>
										</div>
										
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Top Menu Hover Text Color</div>
											<div class="input"><input type="text" name="topmenu_hover_text_color" value="<?php echo htmlspecialchars($setting->getTypography_TopmenuHoverTextColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #367fa4</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Dropdown Menu -->
					<div class="demo demo-dropmenu">
						<div class="content-title"><span>Dropdown Menu</span></div>
						<div class="wrapper-content dropmenu-setting">
							<div class="box last">
								<div class="content">
									<div class="col col-1">
										<div class="row">
											<div class="label">Dropdown Menu Background Color</div>
											<div class="input"><input type="text" name="dropmenu_bg_color" value="<?php echo htmlspecialchars($setting->getTypography_DropmenuBgColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #ffffff</div>
										</div>
										<div class="row">
											<div class="label">Dropdown Line Color</div>
											<div class="input"><input type="text" name="dropmenu_line_color" value="<?php echo htmlspecialchars($setting->getTypography_DropmenuLineColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #b8b4b3</div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Dropdown Menu Text Color</div>
											<div class="input"><input type="text" name="dropmenu_text_color" value="<?php echo htmlspecialchars($setting->getTypography_DropmenuTextColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #202122</div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Dropdown Menu Title, Hover/Active Color</div>
											<div class="input"><input type="text" name="dropmenu_text2_color" value="<?php echo htmlspecialchars($setting->getTypography_DropmenuText2Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #585757</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<!-- Body -->
					<div class="demo demo-body">
						<div class="content-title"><span>Body</span></div>
						<div class="wrapper-content body-setting">
							<div class="box last">
								<div class="content">
									<div class="col col-1">
										<div class="row">
											<div class="label">Body Background Color</div>
											<div class="input"><input type="text" name="body_bg_color" value="<?php echo htmlspecialchars($setting->getTypography_BodyBgColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #ffffff</div>
										</div>
										<div class="row">
											<div class="label">Body Background Title Checkout, Title Shopping Cart, Title Table Color</div>
											<div class="input"><input type="text" name="body_bg2_color" value="<?php echo htmlspecialchars($setting->getTypography_BodyBg2Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #000000</div>
										</div>
										<div class="row">
											<div class="label">Background for About Store (Footer banners)</div>
											<div class="input"><input type="text" name="body_bg3_color" value="<?php echo htmlspecialchars($setting->getTypography_BodyBg3Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #367ea4</div>
										</div>
										<div class="row">
											<div class="label">Body Text Link Color</div>
											<div class="input"><input type="text" name="body_text_color" value="<?php echo htmlspecialchars($setting->getTypography_BodyTextColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #367fa4</div>
										</div>
										<div class="row">
											<div class="label">Body Text Price Color</div>
											<div class="input"><input type="text" name="body_text4_color" value="<?php echo htmlspecialchars($setting->getTypography_BodyText4Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #000000</div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Body Text Title Block, Title Active/Hover Tab Color</div>
											<div class="input"><input type="text" name="body_text2_color" value="<?php echo htmlspecialchars($setting->getTypography_BodyText2Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #000000</div>
										</div>
										<div class="row">
											<div class="label">Body Text Title Checkout, Title Table Color</div>
											<div class="input"><input type="text" name="body_text5_color" value="<?php echo htmlspecialchars($setting->getTypography_BodyText5Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #ffffff</div>
										</div>
										<div class="row">
											<div class="label">Body Text Product Name, Title Slider, Title Page Color</div>
											<div class="input"><input type="text" name="body_text3_color" value="<?php echo htmlspecialchars($setting->getTypography_BodyText3Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #585757</div>
										</div>
										
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Body Line Color</div>
											<div class="input"><input type="text" name="body_line_color" value="<?php echo htmlspecialchars($setting->getTypography_BodyLineColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #cccccc</div>
										</div>
										<div class="row">
											<div class="label">Body Line Next/Pre Hover Color</div>
											<div class="input"><input type="text" name="body_line2_color" value="<?php echo htmlspecialchars($setting->getTypography_BodyLine2Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #367ea4</div>
										</div>
										<div class="row">
											<div class="label">Body Line Wishlist/Compare Hover Color</div>
											<div class="input"><input type="text" name="body_line3_color" value="<?php echo htmlspecialchars($setting->getTypography_BodyLine3Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #ED4408</div>
										</div>
										<div class="row">	
											<div class="label">Body Line Color</div>
											<div class="input"><input type="text" name="body_line4_color" value="<?php echo htmlspecialchars($setting->getTypography_BodyLine4Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #dfe1e1</div>
										</div>
									</div>
									<div class="col">
										<div class="row">
											<div class="label">Body Background Pattern</div>
											<div class="input">
												<input type="hidden" name="body_bg_image" value="<?php echo htmlspecialchars($setting->getTypography_BodyBgImage()) ?>"  />
												<?php $imgDir = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/galawintertime/images/stripes/'; ?>                                 
												<?php foreach (Mage::getModel('galawintertimesettings/config_stripes')->toOptionArray() as $row):?>
												<?php $img_url = $imgDir . $row['value']; ?>
												<?php $imgBgUrl = $bg_url . $row['value']; ?>
												<a href="#" class="body_bg_image" data-input-value="<?php echo $imgBgUrl; ?>" <?php echo $setting->getTypography_BodyBgImage() == $row['value'] ? 'style="selected=\'selected\'"' : '' ?>>
												<img src="<?php echo $imgDir . 'blank.gif' ?>" style="background-image:url(<?php echo $img_url ?>)" alt="" />
												</a>
												<?php endforeach ?>
											</div>
											<div class="desc">Specify background pattern image.</div>
										</div>
										<div class="row">
											<div class="label">Body Background Position</div>
											<div class="input"><input type="text" name="header_bg_position" value="<?php echo htmlspecialchars($setting->getTypography_HeaderBgPosition()) ?>" class="input-text"/></div>
											<div class="desc">Property Values: left top, left center, left bottom,right top, right center, right bottom,center top,center center,center bottom,x% y%, xpos ypos, inherit<br/>Default: 0 0</div>
										</div>
										<div class="row">
											<div class="label">Body Background Repeat</div>
											<div class="input"><input type="text" name="header_bg_repeat" value="<?php echo htmlspecialchars($setting->getTypography_HeaderBgRepeat()) ?>" class="input-text"/></div>
											<div class="desc">Property Values: repeat, repeat-x, repeat-y, no-repeat, inherit<br /> Default: repeat</div>
										</div>
										<div class="row">
											<div class="label">Slider Background Pattern</div>
											<div class="input">
												<input type="hidden" name="slider_bg_image" value="<?php echo htmlspecialchars($setting->getTypography_BodyBgImage()) ?>"  />
												<?php $imgDir = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/galawintertime/images/stripes/'; ?>                                 
												<?php foreach (Mage::getModel('galawintertimesettings/config_stripes')->toOptionArray() as $row):?>
												<?php $img_url = $imgDir . $row['value']; ?>
												<?php $imgBgUrl = $bg_url . $row['value']; ?>
												<a href="#" class="slider_bg_image" data-input-value="<?php echo $imgBgUrl; ?>" <?php echo $setting->getTypography_BodyBgImage() == $row['value'] ? 'style="selected=\'selected\'"' : '' ?>>
												<img src="<?php echo $imgDir . 'blank.gif' ?>" style="background-image:url(<?php echo $img_url ?>)" alt="" />
												</a>
												<?php endforeach ?>
											</div>
											<div class="desc">Specify background pattern image.</div>
										</div>
										<div class="row">
											<div class="label">Slider Background Color</div>
											<div class="input"><input type="text" name="slider_bg_color" value="<?php echo htmlspecialchars($setting->getTypography_SliderBgColor()) ?>" class="color-picker" /></div>
											<div class="desc">Color of 45 degrees strip.<br/>Syntax: #number or rgba(...)<br/> Default: transparent</div>
										</div>
										<div class="row">
											<div class="label">Slider Background Position</div>
											<div class="input"><input type="text" name="slider_bg_position" value="<?php echo htmlspecialchars($setting->getTypography_SliderBgPosition()) ?>" class="input-text"/></div>
											<div class="desc">Property Values: left top, left center, left bottom,right top, right center, right bottom,center top,center center,center bottom,x% y%, xpos ypos, inherit<br/>Default: 0 0</div>
										</div>
										<div class="row">
											<div class="label">Slider Background Repeat</div>
											<div class="input"><input type="text" name="slider_bg_repeat" value="<?php echo htmlspecialchars($setting->getTypography_SliderBgRepeat()) ?>" class="input-text"/></div>
											<div class="desc">Property Values: repeat, repeat-x, repeat-y, no-repeat, inherit<br /> Default: no-repeat</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Footer -->
					<div class="demo demo-footer">
						<div class="content-title"><span>Footer</span></div>
						<div class="wrapper-content footer-setting">
							<div class="box last">
								<div class="content">
									<div class="col col-1">
										<div class="row">
											<div class="label">Footer Background Color</div>
											<div class="input"><input type="text" name="footer_bg_color" value="<?php echo htmlspecialchars($setting->getTypography_HeaderBgColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #ffffff</div>
										</div>
										<div class="row">
											<div class="label">Footer Text Title Top, Hover Link Color</div>
											<div class="input"><input type="text" name="footer_text_color" value="<?php echo htmlspecialchars($setting->getTypography_HeaderTextColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #367fa4</div>
										</div>
										<div class="row">
											<div class="label">Footer Line Bottom Color</div>
											<div class="input"><input type="text" name="footer_line2_color" value="<?php echo htmlspecialchars($setting->getTypography_HeaderLine2Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #cccccc</div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Footer Text Color</div>
											<div class="input"><input type="text" name="footer_text3_color" value="<?php echo htmlspecialchars($setting->getTypography_FooterText3Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #8c8a88</div>
										</div>

										<div class="row">
											<div class="label">Footer Text Address Color</div>
											<div class="input"><input type="text" name="footer_text4_color" value="<?php echo htmlspecialchars($setting->getTypography_HeaderText4Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #585757</div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Footer Text Title Color</div>
											<div class="input"><input type="text" name="footer_text2_color" value="<?php echo htmlspecialchars($setting->getTypography_FooterText2Color()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #000000</div>
										</div>
										<div class="row">
											<div class="label">Footer Line Top Color</div>
											<div class="input"><input type="text" name="footer_line_color" value="<?php echo htmlspecialchars($setting->getTypography_FooterLineColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #367FA2</div>
										</div>
										
									</div>
									<div class="col">
										<div class="row">
											<div class="label">Footer Background Pattern</div>
											<div class="input">
												<input type="hidden" name="footer_bg_image" value="<?php echo htmlspecialchars($setting->getTypography_FooterBgImage()) ?>"  />
												<?php $imgDir = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/galawintertime/images/stripes/'; ?>                                 
												<?php foreach (Mage::getModel('galawintertimesettings/config_stripes')->toOptionArray() as $row):?>
												<?php $img_url = $imgDir . $row['value']; ?>
												<?php $imgBgUrl = $bg_url . $row['value']; ?>
												<a href="#" class="footer_bg_image" data-input-value="<?php echo $imgBgUrl; ?>" <?php echo $setting->getTypography_FooterBgImage() == $row['value'] ? 'style="selected=\'selected\'"' : '' ?>>
												<img src="<?php echo $imgDir . 'blank.gif' ?>" style="background-image:url(<?php echo $img_url ?>)" alt="" />
												</a>
												<?php endforeach ?>
											</div>
											<div class="desc">Specify background pattern image.</div>
										</div>
										<div class="row">
											<div class="label">Footer Background Position</div>
											<div class="input"><input type="text" name="footer_bg_position" value="<?php echo htmlspecialchars($setting->getTypography_FooterBgPosition()) ?>" class="input-text"/></div>
											<div class="desc">Property Values: left top, left center, left bottom,right top, right center, right bottom,center top,center center,center bottom,x% y%, xpos ypos, inherit<br/>Default: 0 0</div>
										</div>
										<div class="row">
											<div class="label">Footer Background Repeat</div>
											<div class="input"><input type="text" name="footer_bg_repeat" value="<?php echo htmlspecialchars($setting->getTypography_FooterBgRepeat()) ?>" class="input-text"/></div>
											<div class="desc">Property Values: repeat, repeat-x, repeat-y, no-repeat, inherit<br /> Default: repeat</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Button 1 -->
					<div class="demo demo-button1">
						<div class="content-title"><span>Button 1(Style of Button Default, Button Add To Cart)</span></div>
						<div class="wrapper-content button1-setting">
							<div class="box last">
								<div class="content">
									<div class="col col-1">
										<div class="row">
											<div class="label">Button 1 Background Color</div>
											<div class="input"><input type="text" name="btn1_bg_color" value="<?php echo htmlspecialchars($setting->getTypography_Btn1BgColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #000000<br/></div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Button 1 Line Color</div>
											<div class="input"><input type="text" name="btn2_line_color" value="<?php echo htmlspecialchars($setting->getTypography_Btn1LineColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #000</div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Button 1 Text Color</div>
											<div class="input"><input type="text" name="btn1_text_color" value="<?php echo htmlspecialchars($setting->getTypography_Btn1TextColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #ffffff</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Button 2 -->
					<div class="demo demo-button2">
						<div class="content-title"><span>Button 2 (Style of Button in Shopping Cart Page, My Account Page)</span></div>
						<div class="wrapper-content button2-setting">
							<div class="box last">
								<div class="content">
									<div class="col col-1">
										<div class="row">
											<div class="label">Button 2 Background Color</div>
											<div class="input"><input type="text" name="btn2_bg_color" value="<?php echo htmlspecialchars($setting->getTypography_Btn2BgColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #ffffff<br/><br/><br/></div>
										</div>
										<div class="row">
											<div class="label">Button 2 Hover Background Color</div>
											<div class="input"><input type="text" name="btn2_hover_bg_color" value="<?php echo htmlspecialchars($setting->getTypography_Btn2HoverBgColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #367fa4<br/><br/><br/></div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Button 2 Text Color</div>
											<div class="input"><input type="text" name="btn2_text_color" value="<?php echo htmlspecialchars($setting->getTypography_Btn2TextColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #888686</div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Button 2 Line Color</div>
											<div class="input"><input type="text" name="btn2_line_color" value="<?php echo htmlspecialchars($setting->getTypography_Btn2LineColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #cccccc</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Button 3 -->
					<div class="demo demo-button3">
						<div class="content-title"><span>Button 3 (Style of Proceed to Checkout)</span></div>
						<div class="wrapper-content button3-setting">
							<div class="box last">
								<div class="content">
									<div class="col col-1">
										<div class="row">
											<div class="label">Button 3 Background Color</div>
											<div class="input"><input type="text" name="btn3_bg_color" value="<?php echo htmlspecialchars($setting->getTypography_Btn3BgColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #91AF55<br/><br/><br/></div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Button 2 Text Color</div>
											<div class="input"><input type="text" name="btn3_text_color" value="<?php echo htmlspecialchars($setting->getTypography_Btn3TextColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #ffffff</div>
										</div>
									</div>
									<div class="col col-1">
										<div class="row">
											<div class="label">Button 3 Hover Background Color</div>
											<div class="input"><input type="text" name="btn3_hover_bg_color" value="<?php echo htmlspecialchars($setting->getTypography_Btn3HoverBgColor()) ?>" class="color-picker" /></div>
											<div class="desc">Default: #357fa4<br/><br/><br/></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="btn btn-primary btn-default reset-button" data-loading-text="Resetting..." >Reset</a>
				</div>
				<div class="copyright">Theme designed by <a href="http://galathemes.com/" title="Premium Magento Themes &amp; Premium Magento Templates" target="_blank">Galathemes.com</a></div>
			</form>
		</div>
	</div>
</div>