/*! jQuery UI - v1.10.4 - 2014-02-23
* http://jqueryui.com
* Includes:jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.tabs.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display:none;
}
.ui-helper-hidden-accessible {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}
.ui-helper-reset {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	line-height:1.3;
	text-decoration:none;
	font-size:100%;
	list-style:none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content:"";
	display:table;
	border-collapse:collapse;
}
.ui-helper-clearfix:after {
	clear:both;
}
.ui-helper-clearfix {
	min-height:0; /* support:IE7 */
}
.ui-helper-zfix {
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	opacity:0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index:100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor:default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display:block;
	text-indent:-99999px;
	overflow:hidden;
	background-repeat:no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.ui-resizable {
	position:relative;
}
.ui-resizable-handle {
	position:absolute;
	font-size:0.1px;
	display:block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display:none;
}
.ui-resizable-n {
	cursor:n-resize;
	height:7px;
	width:100%;
	top:-5px;
	left:0;
}
.ui-resizable-s {
	cursor:s-resize;
	height:7px;
	width:100%;
	bottom:-5px;
	left:0;
}
.ui-resizable-e {
	cursor:e-resize;
	width:7px;
	right:-5px;
	top:0;
	height:100%;
}
.ui-resizable-w {
	cursor:w-resize;
	width:7px;
	left:-5px;
	top:0;
	height:100%;
}
.ui-resizable-se {
	cursor:se-resize;
	width:12px;
	height:12px;
	right:1px;
	bottom:1px;
}
.ui-resizable-sw {
	cursor:sw-resize;
	width:9px;
	height:9px;
	left:-5px;
	bottom:-5px;
}
.ui-resizable-nw {
	cursor:nw-resize;
	width:9px;
	height:9px;
	left:-5px;
	top:-5px;
}
.ui-resizable-ne {
	cursor:ne-resize;
	width:9px;
	height:9px;
	right:-5px;
	top:-5px;
}
.ui-selectable-helper {
	position:absolute;
	z-index:100;
	border:1px dotted black;
}
.ui-tabs {
	position:relative;/* position:relative prevents IE scroll bug (element with position:relative inside container with overflow:auto appear as "fixed") */
	padding:0;
}
.ui-tabs .ui-tabs-nav {
	margin:0;
	padding:0;
}
.ui-tabs .ui-tabs-nav li {
	list-style:none;
	float:left;
	position:relative;
	top:0;
	margin:0;
	border-bottom-width:0;
	padding:0;
	white-space:nowrap;
	cursor:pointer;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor, .tabs_control li a, .title_tab_hide_show {
	float:left;
	padding:7px 16px 7px 24px;
	text-decoration:none;
}

.ui-tabs .ui-tabs-nav li:first-child .ui-tabs-anchor, .tabs_control li:first-child a, .title_tab_hide_show {padding-left:0;}

div.title_tab_hide_show {float:none; margin-bottom:6px;}
.home_tabs div.title_tab_hide_show {margin-bottom:27px; padding-right:130px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	cursor:default;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor:text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor:pointer;
}
.ui-tabs .ui-tabs-panel {
	display:block;
	border-width:0;
	padding:28px 0 0;
	background:none;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size:1.1em;
}
.ui-widget .ui-widget {
	font-size:1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size:1em;
}
.ui-widget-content {
}
.ui-widget-content a {
}
.ui-widget-header {
}
.ui-widget-header a {
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	text-decoration:none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity:.7;
	filter:Alpha(Opacity=70);
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity:.35;
	filter:Alpha(Opacity=35);
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width:16px;
	height:16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
}
.ui-widget-header .ui-icon {
}
.ui-state-default .ui-icon {
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
}
.ui-state-active .ui-icon {
}
.ui-state-highlight .ui-icon {
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
}

/* positioning */


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	
}

/* Overlays */
.ui-widget-overlay {
	opacity:.5;
	filter:Alpha(Opacity=50);
}
.ui-widget-shadow {
	margin:-5px 0 0 -5px;
	padding:5px;
	opacity:.2;
	filter:Alpha(Opacity=20);
}

