/**
 * EM Blog
 *
 * @license commercial software
 * @copyright (c) 2012 Codespot Software JSC - EMThemes.com. (http://www.emthemes.com)
 */

.em_post-items > .em_post-item{ padding:30px 0 0;}
.em_post-items .em_post-item .post-title{ padding:15px 0 11px}
.em_post-items .em_post-item .post-footer{ padding:0; margin:0;}
.em_post-items .em_post-item .post-title h2 a{}
.post-footer .separator {float:left; margin-right:4px; text-indent:-999em; width:0; text-align:left; display:inline-block;}

/*Block Blog common*/
.em_block-recent-post .block-content ,.em_block-recent-comments .block-content ,.em_blog-cat .block-content{padding:15px 10px 10px}
.em_block-recent-post li.item .blog-title,.em_block-tag-cloud li.item .blog-title ,.em_block-recent-comments li.item .blog-title,.em_blog-cat li.item .blog-title{padding:0;}
.em_block-recent-post li.item,.em_block-recent-comments li.item {padding-bottom:5px;}
.em_block-recent-post li.item:first-child,.em_block-recent-comments li.item:first-child {padding-top:2px!important;}
.em_block-recent-post li.item.last,.em_block-recent-comments li.item .last{padding-bottom:5px!important} 
.em_block-recent-post li.item img {float:left; margin-right:10px; margin-bottom:10px; max-width:100%;}
.time-stamp,span.post-on,span.post-by,span.comment-by{}
span.post-by{padding-top:3px; }
.time-stamp,.block span.post-on,.block span.post-by,.block span.comment-by {display:block}
.time-stamp span,span.post-on span,span.post-by span,span.comment-by span{}
.block .post-title,.block .comment-title{}
.block .time-stamp {margin-top:5px;}
.block span.post-by span{}
.block .post-title {}
.block span.post-by, .block span.comment-by{font-size:86%;}

/*Block:Recent Post*/
.em_block-recent-post .block-title {margin-bottom:14px;}
.em_block-recent-post .block-title strong {}
.block.em_block-recent-post .desc{ padding-top:6px}
.block.em_block-recent-post .desc p{ margin-bottom:0px}
.block .post-footer{ margin-top:3px}
.em_block-recent-comments .block-content li.item {margin-bottom:15px;}
.em_block-recent-post .block-content li{margin-bottom:5px;}
.em_sidebar .block.em_block-recent-comments,
.em_sidebar .block.em_block-recent-post {margin-bottom:20px;}

/*Block:Tag Cloud*/

.em_block-tag-cloud .block-title {margin-bottom:17px;}
.em_block-tag-cloud .block-content{}

.em_block-tag-cloud .block-content .actions{background:none;padding:0;padding:6px 0 0}
.em_block-tag-cloud .block-content .actions a{}
.em_block-tag-cloud .block-title strong {}
.em_block-tag-cloud li.item a{}

/*Block:Recent Comment*/
.em_block-recent-comments .block-title {margin-bottom:14px;}
.em_block-recent-comments .block-title strong {}
.em_block-recent-comments li.item .recent-content{text-decoration:none}
.recent-comment-content{font-size:90%;margin:5px 0 2px}
.recent-comment-content pre{white-space:normal}

/*Block :Blog*/
.em_sidebar .em_blog-cat.block {margin-bottom:20px;}
.em_blog-cat .block-title {margin-bottom:15px;}
.em_blog-cat .block-title strong {}
.em_blog-cat li{padding:8px 0;}
.em_blog-cat li.parent ul{padding-left:20px; padding-top:15px; margin:0;}
.em_blog-cat li.parent ul li {padding-bottom:7px;}
.em_blog-cat li a{}
.em_blog-cat .nav-blog{margin:0}

/*Post List*/
.em_post-items .em_post-item:first-child{ border-top:0 none; padding-top:0}
.em_post-item {clear:both; overflow:hidden; margin:0 0 30px;}
.em_post-item .page-title {border:none;margin-bottom:7px}
.post-title h2{margin:0}
.post-title small{margin-bottom:15px; margin-top:8px;}

.em_post-item .std p{}
.em_post-item .std img{float:left;margin-right:20px; max-width:100%;}
.em_post-item .std img:hover {filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8; -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);}
.em_post-item .postDetails{ clear:both;font-size:10px;margin-top:10px;padding-top:5px;}
.em_post-item .postDetails a{}
span.post-by {float:left; margin-right:5px;}
.comment-count a{margin-left:3px}
.post-footer{padding-top:7px;margin-top:10px; overflow:hidden}
.post-footer p{ float:left; }
.comment-by,
.comment-user, .comment-time{ float:left; position:relative; margin-right:20px;}
.comment-time small{ font-size:100%}
.comment-count,
.comment-post-link{ }
.comment-by .time-stamp{font-size:100%;}
.comment-by,
.comment-count, .fb_comments_count,
.comment-user,
.comment-time{ float:left; position:relative;  padding-top:3px}
.comment-post-link{ padding-top:3px; float:left; margin-left:2px; margin-right:3px;}

.blog-list-date, .blog-view-date {overflow:hidden; float:left; margin-right:10px; margin-right:-80px;}
.em_post-item .blog-list-date .time-stamp .mth,
.em_post-item .blog-view-date .time-stamp .mth {text-align:left;}
.em_post-item .blog-list-date .time-stamp .day,
.em_post-item .blog-view-date .time-stamp .day {float:right; display:inline-block; vertical-align:middle;}
.blog-list-content, .blog-view-content {overflow:hidden; display:inline; padding-left:80px; float:left; width:100%;}
.em_post-items .em_post-item .std {margin-bottom:34px; overflow:hidden;}

/*post detail*/
.em_post-action-top{}
.em_post-action-top .prev-button img,
.em_post-action-top .next-button img{display:none}
.em_post-action-top .null {
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity:0.5;
opacity:0.5; 
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50); cursor:default !important;}
.blog-index-view small.date{display:block;font-size:10px;font-style:italic}
.em_post-item .post-title {padding:7px 0}
.blog-post-view .em_post-item .post-title{ padding:15px 0 6px 0; position:relative}
.blog-post-view .em_post-item .post-title h2{padding-right:85px;}
.form-comment-container,
#comments-header{ border-top:1px solid #d1d1d1}
.form-comment-container button.button{ margin-top:15px}
.form-comment-container h3 {padding-top:20px; margin-bottom:0;float:left;}
.article-comments .form-title {padding-top:15px; margin-bottom:15px;float:left;}
#allcomments{clear:both}
#allcomments > .comment-item{ padding:0}
.blog-index-view .page-title {border:none;margin-bottom:7px}
.em_post-item .post-content {height:100%;overflow:hidden; padding:5px 0 20px}
.em_post-item .post-content img{float:left;margin-right:15px;margin-bottom:5px}
.em_post-item .post-content p{}
.em_post-item .post-content .post-footer{ border-top:1px dashed; border-bottom:1px dashed; padding:14px 0 11px; margin-top:26px}
.em_post-item .post-content .post-share{ border-top:1px dashed; padding-top:20px; margin-bottom:20px}
.em_post-action{height:100%;clear:both;margin:0 0 18px; overflow:hidden;}

.em_post-action .tags {margin-bottom:10px;}
.em_post-action .tags span,
.em_post-action .tags li a{float:left;margin-right:10px; text-transform:capitalize;}
.em_post-action .tags span{}
.em_post-action .post-share{}
.em_post-action .post-share img{height:16px;width:16px;margin-right:5px;float:left}
.em_post-action .post-share span{float:left;margin-right:8px;}
.temp  h3.form-title{;text-transform:uppercase; padding-bottom:8px}
.form-comment-container h3,.temp  h3.form-title{}
.temp  h3.form-title{position:absolute;top:15px;left:0;width:100%}
.form-comment-container{ height:100%;
    /*overflow:hidden;
    padding-top:20px;*/}
#0_comment_box{line-height:normal}
.form-comment{padding:0px 0 20px;position:relative; clear:both; display:inline-block; width:100%}
.comments .field{/*float:left;width:312px;margin-right:10px*/}
.comments .time-stamp {clear:both; float:left;}
.comments .comment-by {font-style:italic; clear:both; float:left;}
.comments div.input-box{width:95%; clear:left;}
.comments div.input-box .input-text{width:70%!important; clear:left; display:block}
#recaptcha_widget_div{/*position:absolute;top:99px;left:320px;*top:101px*/margin-top:12px; float:left; width:100%;}
.form-comment-container #recaptcha_widget_div{}
.comments .required-1  {/*left:572px;position:absolute;top:238px*/; }
.comments  .required-1  {padding:10px 0; display:inline-block;color:#ff0707 ;font-style:italic;}
.form-comment-container .hide{display:none}
.comments .required{ padding:16px 0px 2px; display:inline-block;}
.comments .required em{}
.comments .temp{padding-top:45px;}
.form-comment-container .temp{padding-top:0!important;}
.comment-item-header{ position:relative;padding:1px 0 8px; display:inline-block;}
.comment-item-header .date{ position:relative;padding:1px 0 13px; display:inline-block}
.comment-button{ clear:both}
.comment-body{padding:0 0 7px}
.comment-body pre{white-space:normal;font-size:11px;}
.comments .post-footer{ padding-bottom:20px}
#allcomments .comment-item{margin-bottom:19px;padding-top:10px; display:inline-block; width:100%}
#allcomments .level1 .comment-item{ margin-left:15px}
.article-comments .toolbar{ padding:12px 0 0}
.article-comments .toolbar .pager{ margin:0}
.article-comments .toolbar .pager .amount{ display:block}
.article-comments{margin-top:0px}
.col3-layout .form-comment-container #recaptcha_widget_div{left:0;position:relative;top:5px;}
.col3-layout .comments .form-comment-container .required-1{left:0;position:relative;top:5px;}
.rss-em-blog {float:right;margin-top:-20px;*margin-top:-22px;}

.comments #loading{height:auto;width:auto;position:static;padding:20px;}
.blog-category-view .page-title h1 {font-size:340%}
.blog-category-view .list-blog-title {display:none}
.blog-category-view .toolbar,
.blog-index-index .toolbar{ margin-top:9px}
.blog-category-view .toolbar .sorter,
.blog-index-index .toolbar .sorter{ float:right; display:none}
.rss-em-blog{margin:2px 0 0 10px;float:right; position: relative; z-index: 1;}
.blog-category-view .toolbar .pager .amount,
.blog-index-index .toolbar .pager .amount{ display:block; margin-top:2px; margin-right:10px; text-transform:uppercase; font-size:83%;}
.blog-category-view .toolbar .pager .pages,
.blog-index-index .toolbar .pager .pages{ display:inline-block; margin:0; float:right;}
.blog-category-view .toolbar .pager,
.blog-index-index .toolbar .pager{width:100%; padding-right:30px; margin:0 -30px 0 0; float:left;}

.blog-view-image {margin-bottom:34px;}
.blog-view-image img {max-width:100%;}
.blog-view-image img:hover {opacity:0.7; -moz-opacity:0.7; -webkit-opacity:0.7; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);}

@media (max-width:580px){
	/*blog*/
	.em_post-items .em_post-item .post-title{ padding:17px 0 5px; clear:both }
	.em_post-item .std img{ margin-right:0; width:100%}

	.blog-view-content {padding:60px 0 0 !important;}
	.comments div.input-box .input-text, .comments div.input-box {width:100% !important;}
	.form-comment-container #recaptcha_widget_div {display:block; overflow-x:auto;}
}