.em-box-custom .wrapper_header .inner_header > .row,
.wrapper_header { }

.sidebar .block,.sidebar .megamenu-wrapper,.em_sidebar .widget-recentreview-products,.header .account-content, .block-cart-top .cart-popup,.header .toolbar-switch .toolbar-dropdown ul ,.header .form-search,.col-menu, .dd-menu-link .menu-container, .em-catalog-navigation li > ul{border:1px solid (darken(@body_line4_color,10%));.lineStyle (@body_bg3_color);}

.em_sidebar .tree-filter li.selected > .label, .block-layered-nav a:hover{ color:@header_text2_color; }
.products-list li.item{ background-color:transparent;}
.product-view .qty-ctl, .cart-table .qty-ctl{ background-color:@body_bg_color}
.csslider .controls a,
.product-view a.next,
.product-view a.prev,
.em_post-action-top .prev-button,
.em_post-action-top .next-button{ border-color:@btn2_bg_color}
