<?php foreach ($this->getSortedChildren() as $i => $name): ?>
<?php
	if (!($title = $this->getChildData($name, 'frontend_title')))
		if (!($title = $this->getChildData($name, 'block_title')))
			$title = $this->getChildData($name, 'title');
	?>
<div class="box-collateral <?php echo "box-$name" ?>">
	<?php if ($title): ?>
		<div class="title_tab_hide_show">
			<h2><?php echo $this->escapeHtml($title); ?></h2>
		</div>
	<?php endif;?>
	<div class="box-collateral-content">    		
		<?php echo $this->getChildHtml($name) ?>
	</div>
</div>
<?php endforeach ?>
