<?php 
	$posts = $this->getPosts();
    $tool = $this->getToolbar()->setCollection($posts);
    $thumnailWidth = Mage::getStoreConfig('blog/info/thumbnail_width');
    $thumnailHeight = Mage::getStoreConfig('blog/info/thumbnail_height');
    $helper = Mage::helper('cms');
	$helperBlog = Mage::helper('blog');
    $processor = $helper->getBlockTemplateProcessor();
?>
<div class="list-blog-title"><?php echo $this->__('Our Blog')?></div>
<?php if($posts->count() > 0):?>
<div class="em_post-items">
	<?php foreach ($posts as $post):?>
	<div class="em_post-item">
		<div class="std">
			<?php if($post->getImage()):?>
			<a href="<?php echo $post->getPostUrl();?>">
				<img src="<?php echo $helperBlog->resizeImage($post->getImage(),$thumnailWidth,$thumnailHeight,"emblog/post",'thumbnail');?>"/>
			</a>
			<?php endif;?>
		</div>
		<div class="blog-list-date">
			<?php $date = new DateTime($post->getCreatedAt());?>
			<small class="time-stamp"><div class="mth"><?php echo $date->format('m'); ?></div> <div class="day">/<?php echo $date->format('j'); ?></div></small>
		</div>
		<div class="blog-list-content">
			<div class="post-title">
				<h2><a href="<?php echo $post->getPostUrl(); ?>" ><?php echo $post->getTitle();?></a></h2>

			</div>
			<div class="post-intro"><?php echo $processor->filter($post->getPostIntro());?></div>
			<div class="post-footer">
				<span class="post-by">
					<?php echo $this->__('Posted by').' ';?><span><?php echo $post->getAuthor()->getUsername(); ?></span>
				</span>
				<span class="separator">|</span>
				<a class="comment-post-link" href="<?php echo $post->getPostUrl(); ?>" ><?php echo $this->__('Comments')?></a>
				<?php if(!Mage::getStoreConfig('blog/comments_facebook/enabled')):?>
					<span class="comment-count">
						<?php echo $this->getCommentByPost($post->getId())->count(); ?>
					</span>
				<?php else:?>
					<fb:comments-count href=<?php echo $post->getPostUrl(false)?>></fb:comments-count>
				<?php endif;?>
			</div>
		</div>
	</div>
	<?php endforeach; ?>
</div>
<?php echo $tool->toHtml();?>

<?php else:?>
<p class="note-msg"><?php echo $this->__('There are no posts matching the selection.')?></p>
<?php endif;?>