
/*Style*/
.themeStyle(){
	font-weight:normal;
	text-transform:capitalize;
	text-transform:none;
}
.styleTitleBlock(@padding; @margin){
	text-transform:uppercase;
	padding:@padding;
	margin:@margin;
	text-align: center;
}
.hideText(){
	display: inline-block;
	text-indent: -99999px;
	overflow: hidden;
	vertical-align: middle;
	text-align: left;
	float: left;
	.themeStyle();
}
.themePosition(){
	position:absolute;
	top:0;
	left:0;
}
/*color text * color text hover*/
.link(@color; @colorhover){
	color: @color;
	&:hover,
	&:focus,
	&:active {
		color: @colorhover;
		text-decoration:none;
	}
}
/*========================= Functions==================*/
/*Change Font*/
.changeFontStyle(@font){
    @e_font: e(@font);
	font: @e_font;
}

.changeFont (@font){
	font: @font;
}

/*.changeFont (@font-family){
	font-family:@font-family;
}*/
/*Change Text Color*/
.changeColor (@color){
	color: @color;
}
/*Change Line*/
.changeLine (@linecolor){
	border-color: @linecolor;
}
/*Change Background Color*/
.changeBkg (@bgkcolor){
	background-color: @bgkcolor;
}
/*Change Background Image Color*/
.changeBkg (@bkgcolor; @bkgurl; @bkgname; @bkgposition; @bkgrepeat){
	background-color:@bkgcolor;
	background-image:url("@{bkgurl}@{bkgname}");
	background-position:@bkgposition;
	background-repeat:@bkgrepeat;
   
}
/*Change Color-Border-Background Color*/
.changeAllColor(@color; @bgkcolor){
	.changeColor (@color);
	.changeBkg (@bgkcolor);
}
.changeAllColor(@color; @linecolor; @bgkcolor){
	.changeColor (@color);
	.changeLine (@linecolor);
	.changeBkg (@bgkcolor);
}
.changeAllColor(@color; @linecolor; @bgkcolor; @font){
	.changeColor (@color);
	.changeLine (@linecolor);
	.changeBkg (@bgkcolor);
	.changeFont (@font);
}
/*Change Color-Font-Font-size*/
.changeColorFont(@color; @font){
	.changeColor(@color);
	.changeFont(@font);
}


/*.changeBkgImg (@name){
	@condition: ~`@{name}.indexOf("blank.gif")`;
    .changeBkgWithCondition(@name;@condition);
   
}*/

.changeBkgWithCondition(@name;@condition) when (@condition < 0){
	 background-image: ~"url(@{name})";
}

/*Change Width*/
.changeWidth(@width){
	width: @width;
}
/*Change Height*/
.changeHeight(@height){
	height: @height;
}
/*Change Background Position*/
.changeBkgPosition(@bkg-position){
	background-position:@bkg-position;
}
/*Change Icon*/
.changeIcon(@width-height; @bkg-position){
	.changeWidth(@width-height);
	.changeHeight(@width-height);
	.changeBkgPosition(@bkg-position);
}
.changeIcon(@width; @height; @bkg-position){
	.changeWidth(@width);
	.changeHeight(@height);
	.changeBkgPosition(@bkg-position);
}


/*Change Opacity*/
.opacity(@opacity){
	opacity:@opacity;  
	-moz-opacity:@opacity; 
	-webkit-opacity:@opacity;
	/*-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=(@opacity * 100))";
	filter: ~"alpha(opacity=(@opacity * 100)";*/
}

.transition (@timer){
	-moz-transition:all @timer ease-in-out 0ms; 
	-webkit-transition:all @timer ease-in-out 0ms; 
	-o-transition:all @timer ease-in-out 0ms; 
	transition:all @timer ease-in-out 0ms; 
}


.roundCorner (@radius){
	border-radius:@radius; -webkit-border-radius:@radius; -moz-border-radius:@radius;
}

.transition (@type; @timer){
	-moz-transition:@type @timer ease-in-out 0ms; 
	-webkit-transition:@type @timer ease-in-out 0ms; 
	-o-transition:@type @timer ease-in-out 0ms; 
	transition:@type @timer ease-in-out 0ms; 
}

/*===================Functions Default==========================*/
/*Center-align a block level element*/
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Sizing shortcuts*/
.size(@width; @height) {
  width: @width;
  height: @height;
}

/*Requires inline-block or block for proper styling*/
.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*Single side border-radius*/
.border-radius(@radius){
	border-radius:@radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}
.border-top-radius(@radius) {
	-webkit-border-top-left-radius: @radius;
	-webkit-border-top-right-radius: @radius;
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-topright: @radius;
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;
}
.border-right-radius(@radius) {
	-webkit-border-top-right-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;
	-moz-border-radius-topright: @radius;
	-moz-border-radius-bottomright: @radius;
	border-bottom-right-radius: @radius;
    border-top-right-radius: @radius;
}
.border-bottom-radius(@radius) {
	-webkit-border-bottom-right-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-bottomright: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-bottom-right-radius: @radius;
	border-bottom-left-radius: @radius;
}
.border-left-radius(@radius) {
	-webkit-border-top-left-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-top-left-radius: @radius;
	border-bottom-left-radius: @radius;
}
/*shadow*/
.box-shadow(@shadow){ 
	box-shadow:@shadow;
	-moz-box-shadow:@shadow;
	-webkit-box-shadow: @shadow;
}

/*gradient*/
/*Linear Gradient - Top to Bottom (this is default)*/
.gradientTopBottom(@colorstart; @colorend){
background: -webkit-linear-gradient(@colorstart, @colorend); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(@colorstart, @colorend); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(@colorstart, @colorend); /* For Firefox 3.6 to 15 */
background: linear-gradient(@colorstart, @colorend); /* Standard syntax */
}
/*Linear Gradient - Left to Right*/
.gradientLeftRight(@colorstart; @colorend){
	background: -webkit-linear-gradient(left, @colorstart , @colorend); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, @colorstart, @colorend); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, @colorstart, @colorend); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, @colorstart , @colorend); /* Standard syntax */
}

.lineStyle(@line1){
	&:before {width:98px; height:2px; position:absolute; top:-2px; left:-1px;content:""; background-color:@line1};
	/*background-image: -webkit-linear-gradient(#f2f2f2 0.1%, #ffffff 1.5%);
	background-image: -moz-linear-gradient(#f2f2f2 0.1%, #ffffff 1.5%);
	background-image: -ms-linear-gradient(#f2f2f2 0.1%, #ffffff 1.5%);
	-pie-background: linear-gradient(#f2f2f2 0.1%, #ffffff 1.5%) 0 0 / 1px 1.5% #ffffff;*/
}
.buttonStyle(@bkg1; @bkg2; @text_color){
	 position:relative; padding:18px 20px; background:@bkg1;border:0 none;
	/*&:after {content:""; position:absolute; left:0; right:0; bottom:-1px; height:2px; background:@bkg1;}
	&:before {content:""; position:absolute; left:0; right:0; top:-1px; height:2px; background:@bkg1;}*/
	span span {font:@h5_font; text-transform:uppercase; color:@text_color; padding:18px 5px; line-height:18px;}
	&:hover {background:@bkg2; border:0 none;}
	/*&:hover:after, &:hover:before {background:@bkg2;}*/
}


.buttonLinkStyle(@bkg1; @bkg2; @text_color){
	background:none; position:relative; padding:2px 0; display:inline-block; .transition(all;200ms);
	/*&:after {content:""; position:absolute; left:0; right:0; bottom:-1px; height:2px; background:@bkg1; .transition(all;200ms);}
	&:before {content:""; position:absolute; left:0; right:0; top:-1px; height:2px; background:@bkg1; .transition(all;200ms);}*/
	> span{background:@bkg1; width:100%; display:inline-block; .transition(all;200ms);}
	span{font:@h5_font; line-height:18px; text-transform:uppercase; color:@text_color; padding:18px 5px; .transition(all;200ms);}
	&:hover span {background:@bkg2;}
	/*&:hover:after, &:hover:before {background:@bkg2;}*/
}


.buttonLinkStyle2(@color1; @color2; @text_color; @bkg){
	background:@bkg; position:relative; padding:2px 0; display:inline-block; .transition(all;200ms); border:none;
	/*&:after {content:""; position:absolute; left:0; right:0; bottom:-1px; height:2px; background:@color1; .transition(all;200ms);}
	&:before {content:""; position:absolute; left:0; right:0; top:-1px; height:2px; background:@color1; .transition(all;200ms);}*/
	span{font:@h5_font; line-height:16px; text-transform:uppercase; color:@text_color; padding:18px 5px;}
	> span{background:@bkg; width:100%; display:inline-block; border:1px solid @color1; .transition(all;200ms); padding:0;}
	&:hover {background:@bkg}
	&:hover span {background:@bkg; border-color:@color2; color:@color2;}
	/*&:hover:after, &:hover:before {background:@color2;}*/
}

.buttonLinkStyle3(@bkg1; @line1; @text1; @bkg2; @line2; @text2){
	position:relative; display:inline-block; background:@bkg1; font:@h5_font; font-size:14px; text-transform:uppercase; color:@text1; padding:18px;text-align:center;
	.transition(all;200ms);border:1px solid @line1;
	/*&:after {content:""; position:absolute; left:0; right:0; bottom:-3px; height:2px; background:@bkg1; .transition(all;200ms);}
	&:before {content:""; position:absolute; left:0; right:0; top:-3px; height:2px; background:@bkg1; .transition(all;200ms);}
	&:hover:after, &:hover:before {background:@bkg2;}*/
	&:hover{background:@bkg2;border:1px solid @line2; color:@text2;}
}

.buttonLinkStyle4(@color1; @color2; @text_color; @bkg){
	background:@bkg; position:relative; padding:2px 0; display:inline-block; .transition(all;200ms); border:none;
	/*&:after {content:""; position:absolute; left:0; right:0; bottom:-1px; height:2px; background:@color1; .transition(all;200ms);}
	&:before {content:""; position:absolute; left:0; right:0; top:-1px; height:2px; background:@color1; .transition(all;200ms);}*/
	span{font:@h5_font; font-size:14px; line-height:16px; text-transform:uppercase; color:@text_color; padding:6px 18px 8px;}
	> span{background:@bkg; width:100%; display:block; border:1px solid @color1 !important; .transition(all;200ms);}
	&:hover {background:@bkg}
	&:hover span {background:@bkg; border-color:@color2 !important; color:@color2;}
	/*&:hover:after, &:hover:before {background:@color2;}*/
}