body {
	.changeAllColor(@body_text3_color; @body_bg_color);
	.changeFont(@general_font);
	-webkit-font-smoothing: never;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ui-widget{
	color:@body_text3_color;
	.changeFont(@general_font);
}

a
{ 
	.link(@body_text3_color, @body_text2_color);
	&:focus{outline:none};
}
.no-rating, .ratings{ .changeColor(@body_text3_color);}

/* Headings */
h1, .h1            { .changeFont(@h1_font); margin:0 0 10px}
h2, .h2           { .changeFont(@h2_font); margin:0 0 10px}
h3, .h3          { .changeFont(@h3_font); margin:0 0 10px}
h4, .h4            { .changeFont(@h4_font); margin:0 0 10px}
h5, .h5            { .changeFont(@h5_font); margin:0 0 10px}
h6, .h6            { .changeFont(@h6_font);}

/* Form Elements */
input.input-text, select, textarea{
	.changeAllColor(@body_text3_color; @body_bg_color);
	.changeFont(@general_font);
	border:1px solid @body_line4_color;
}

input.input-text, textarea {.roundCorner(@rounded_corner;)}
.primary {.changeColor (@body_text2_color)}
.secondary {.changeColor (@body_text2_color)}
code {color:@body_text2_color;}

.box, .box2,.box1,
.box3 {border:1px solid @body_line4_color;.border-radius(@rounded_corner);}
.error-msg, .success-msg, .note-msg, .notice-msg{}
.label, label {.changeFont(@general_font); color:@body_text3_color; white-space:normal; padding-left:0; padding-right:0;}

/*============ add to cart =================*/
/*button1 bg_black===========================*/
.products-list button.btn-cart,.product-view .product-shop button.btn-cart,.block-cart-top .block-content .actions button.button,.header .account-content .actions button.button,.registered-users button.button,.login .buttons-set button.button ,.box-info .box p > a.viewall, .box-reviews > p > a,#checkout-step-login .col-2 .buttons-set button.button{.buttonLinkStyle3(@btn1_bg_color; @btn1_line_color; @btn1_text_color;@btn2_bg_color; @btn2_line_color; @btn2_text_color;);}

.em_col_main button.btn-cart,.em_col_main  button.button ,.em_col_main  .box-info .box p > a.viewall,.em_col_main  .box-reviews > p > a,.em_col_main  .order_actions a,.em_col_main a.link-cart,.box-info .box > a,.em_col_main  .box-info .box .col-1 > a,.em_col_main  .box-info .box .col-2 > a,.em_col_main  .box-tags > p > a { min-width:150px;}

/*button2===========================*/
button.btn-cart,button.button,
.header .account-content .actions button.button,
.em_sidebar .block button.button,
.sidebar .block .actions a,.order_actions a, .block.block-compare .actions a ,.block-cart-top .block-content .actions .view-cart a,a.link-cart,.box-info .box > a, .box-info .box .col-1 > a, .box-info .box .col-2 > a, .box-tags > p > a {.buttonLinkStyle3(@btn2_bg_color; @btn2_line_color; @btn2_text_color;@btn1_bg_color; @btn1_line_color; @btn1_text_color;)}

#containerDiv .ajaxcart .row2 a {.buttonLinkStyle3(@btn2_bg_color; @btn2_line_color; @btn2_text_color;@btn1_bg_color; @btn1_line_color; @btn1_text_color;)}
#containerDiv .ajaxcart .row2 a {padding:7px 18px 9px !important;}

.sidebar .block.block-reorder .actions a {margin-top:20px;}

.block-cart-top .block-content .actions > a{.buttonLinkStyle4(@header_line_color; @header_line2_color; @header_text_color;@header_bg_color); white-space:normal; text-align:center;}

button.btn-checkout, #review-buttons-container.buttons-set button.button{.buttonStyle(@btn3_bg_color; @btn3_hover_bg_color; @btn3_text_color;)}
button.btn-checkout > span, #review-buttons-container.buttons-set button.button > span {border:none;}
#review-buttons-container.buttons-set button.button span span {padding-left:22px; padding-right:22px;}

.buttons-set p.back-link a{.buttonLinkStyle3(@btn2_bg_color; @btn2_line_color; @btn2_text_color;@btn1_bg_color; @btn1_line_color; @btn1_text_color;); line-height:18px; text-align:center;}


/*========== Add to links ===========*/
.add-to-links {text-align:center; float:left; padding:0 !important}
.add-to-links li {float:left; display:inline-block;margin:0;list-style:none outside none;padding:0; position:relative;/* background-color:@body_bg_color; */font-size:@h6_font;}
.add-to-links li a { position:relative; font-size:88%;.changeColor(lighten(@body_text3_color,10%)); text-transform:uppercase;}
.add-to-links li a:hover {.changeColor(@body_text2_color);}

.ratings .amount a, .review-customer-view .product-review .product-img-box .ratings a {.changeFont(@general_font); white-space:nowrap; .link(@body_text3_color; @body_text2_color;)}

/*============ Header ============*/
.quick-access.header-top{.changeFontStyle(@general_font;); }
.header .links li a ,.header .toolbar-switch span.current, .header .account-link > a,.header .currency-title,.form-language .block-title,.header .support_text span  { .link(@header_text_color; @header_text2_color); text-align:left; padding-left:18px;} 
.block-cart-top:hover .block-title .info_cart,.block-cart-top:hover .block-title .info_cart .price,.header .toolbar-switch:hover span.current,.header .account-link:hover > a{ color:@header_text2_color}
.block-cart-top .block-title .price,.block-cart-top .block-title .info_cart{.link(@header_text_color; @header_text2_color); .changeFontStyle(@general_font;);}
.header .toolbar-switch span.current:before {top:6px; right:0; border:4px solid transparent; border-top-color:@header_text3_color;}
.header .toolbar-switch .toolbar-dropdown ul li a {color:@header_text_color; .changeFontStyle(@general_font;); display:block;}
.header .account-link:before, .support_text:before, .header .quick-access .toolbar-switch:before, .header .quick-access ul.links:before, .header .quick-access .dropdown-cart:before{border-left:1px solid @header_line_color;}
.header .account-content, .block-cart-top .cart-popup,.header .toolbar-switch .toolbar-dropdown ul {.lineStyle(darken(@body_line_color,70%););border:1px solid @header_line_color; background:@header_bg_color; z-index:5}
.header .account-link > a {.transition(500ms);}

.account-title {.changeColorFont(@header_text3_color;@h4_font;);display:none;}
.account-link label span{color:#fa0617;}
.account-link input.input-text {margin-bottom:8px; width:100%;}
.account-link .login_forgotpassword a {.link(lighten(@header_text_color, 10%); @header_text2_color);} 
.header .account-content .create-account {color:lighten(@header_text_color, 10%);} 
.header .account-content .create-account a {.link(@header_text3_color; @header_text2_color);}

.dropdown-cart .cart-popup-content > .block-subtitle {.changeColorFont(@header_text3_color;@h4_font;); margin-bottom:14px;}
.block-cart-top .amount-content, .block-cart-top .amount-content a{color:@header_text_color; }
.block-cart-top .amount-content a:hover {color:@header_text2_color;}
.block-cart-top .block-content .actions,.header .account-content .create-account{ border-top:1px solid @header_line_color; padding:22px 15px 15px;}
.block-cart-top .actions .subtotal .label {.changeColorFont(@body_text3_color;@general_font;); display:inline; padding:0; text-shadow:0 0 0 @header_text2_color;}
.block-cart-top .actions .subtotal .price{color:@header_text2_color; text-shadow:0 0 0 @header_text2_color; font-size:@h3_font; }
.block-cart-top .price_wrapper strong{.changeColorFont(@header_text_color;@h5_font;); display:inline; padding:0;}

.support_text p {.changeColor(@header_text2_color;);}
.support_text p > a {color:@header_text2_color; display:inline;}
.header .top-search .title-search {.transition(500ms);}
.header .form-search {background:@header_bg_color; border:1px solid @header_line_color;}
.header .form-search,.col-menu, .dd-menu-link .menu-container, .em-catalog-navigation li > ul{.lineStyle(darken(@body_line_color,70%););}

.header .toolbar-switch .toolbar-dropdown ul li:hover a{ color:@body_text2_color;}

/* Megamenu */
.menu-item-depth-0 > a span, .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span {.changeColorFont(@topmenu_text_color; @h5_font); line-height:24px; text-shadow:0 0 0 @topmenu_text_color;}
.menu-item-depth-0:hover > a span, .menu-item-depth-0 > .em-catalog-navigation > li.level0:hover > a span {color:@topmenu_hover_text_color;}
.em-catalog-navigation li > ul {.changeColorFont(@dropmenu_text2_color; @h5_font);}
/*@media (min-width:768px) {*/
	.col-menu,
	/*.hnav .menu-item-depth-0.menu-item-link > .menu-container, */
	.hnav .menu-item-depth-0 > .em-catalog-navigation.horizontal li.level0 > ul {background:@dropmenu_bg_color; border:1px solid @dropmenu_line_color;}

	/*.hnav .menu-item-depth-0.menu-item-link.menu-item-parent:hover:after, 
	.hnav .menu-item-depth-0.menu-item-text > .em-catalog-navigation.horizontal li.level0.parent:hover:after {content:""; position:absolute; left:45%; top:53px; z-index:10000; margin-left:-18px; border:7px solid transparent;border-top-color:@topmenu_hover_text_color;}*/
	.em_nav li.item .price  {.changeFontStyle(@h4_font;)}
/*}*/
.vnav .menu-item-depth-0 > a,
.hnav .menu-item-depth-0 > a {.link(@dropmenu_text2_color;@topmenu_hover_text_color;)}
.vnav .menu-item-depth-0 a,
.hnav .menu-item-depth-0 a {.link(@dropmenu_text2_color;@dropmenu_text_color;);}
.em_nav h5 {.changeColorFont(@dropmenu_text_color; @general_font); text-transform:uppercase;}
.menu-title a {.changeColorFont(@dropmenu_text_color; @h3_font); text-transform:uppercase; position:relative;}
.menu-title {border:1px solid @dropmenu_line_color;}
.menu-title:after {content:""; position:absolute; border:5px solid transparent; border-top-color:@dropmenu_text_color; right:9px; top:19px;}
.megamenu-wrapper:hover .menu-title:after {border-bottom-color:@dropmenu_text_color; border-top-color:transparent; top:14px;}
.em_nav ul {color:@dropmenu_text2_color;}
.em_nav .menu-container strong {color:@dropmenu_text_color; text-shadow:0 0 0 @dropmenu_text_color; font-weight:normal;}
.col-menu, .dd-menu-link .menu-container, .em-catalog-navigation li > ul {
border:1px solid @dropmenu_line_color;
background-color:@dropmenu_bg_color;
}
/*.hnav .col-menu {border:none;}*/
.em_nav a.arrow span {border-left-color:@dropmenu_text2_color;}
.nav-right  a.arrow span {border-left-color:transparent; border-right-color:@dropmenu_text2_color;}

@media (max-width:767px) {
	.menu-item-link.menu-item-depth-0, .menu-item-text.menu-item-depth-0 > .em-catalog-navigation > li.level0 {border:1px solid @dropmenu_line_color; margin-bottom:5px;}
	.em_nav a.arrow span {border-left-color:transparent !important; border-right-color:transparent !important; border-top-color:@dropmenu_text2_color;}
	.hnav .menu-item-depth-0.menu-item-link > .menu-container, .hnav .menu-item-depth-0 > .em-catalog-navigation.horizontal li.level0 > ul {border:none;}
	.col-menu, .dd-menu-link .menu-container, .em-catalog-navigation li > ul {border:none;}
}
.navbar-fixed-top {background-color:@header_bg_color; border-bottom:1px solid @dropmenu_line_color; box-shadow:0 0 5px #ccc; -webkit-box-shadow:0 0 5px #ccc; -moz-box-shadow:0 0 5px #ccc;}

.home_slider li.item .price {text-shadow:0 0 0 @body_text2_color;}
.home-selectcategories .widget-title h2 span {.changeColorFont(@body_text5_color; @slider_title_font); }
.home-selectcategories > .desc{ .changeColorFont(@body_text5_color; @h5_font); text-transform:uppercase;}
.home-selectcategories li.item {background-color:@body_bg_color;}

li.item:hover .product-image:after {border-color:@body_line_color;}

/* Footer */
.footer_follow .footer_followus{}
.form-subscribe-header{ .changeFontStyle(@h1_font;); }
.footer_follow .footer_followus > p, .block-subscribe label{color:darken(@footer_text4_color, 15%);  margin-top:4px; line-height:30px; font-size:110%; font-weight:600;text-transform:uppercase;}
/*.block-subscribe button.button, */.block-subscribe input.input-text {background-color:@footer_bg_color !important;}

.block-subscribe:hover input.input-text {border-color:@footer_line_color;}
.icon, .block-subscribe:hover button.button span span, .brand-logo {.transition(500ms);}

.footer_top {color:@footer_text3_color;}
.footer-block-top h5, .footer-block-bottom .h5 {.changeColorFont(@footer_text2_color; @h3_font); text-shadow:0 0 0 @footer_text2_color;}
.footer-block-bottom .h5.toogle-icon:after {text-shadow:0 0 0 @footer_text2_color;}
.footer-block-bottom .h5.toogle-icon.active:after {text-shadow:0 1px 0 @footer_text2_color;}
.footer_top a {.link (@footer_text3_color; @footer_text2_color)}
.footer_bottom a{.link (@footer_text3_color; @footer_text2_color)}
#back-top a {.changeColorFont(@btn1_text_color; @h4_font); font-size:14px; font-weight:bold; text-transform:uppercase; border-color:@body_bg_color; text-align:center; line-height:56px; background-color:@btn1_bg_color; }
#back-top a:before {border-color:@btn1_bg_color;}
#back-top a:hover {background-color:@btn1_line_color;}
#back-top a:hover:before {border-color:@btn1_line_color;}

.cms-index-index .em-box-custom .footer_top > .container, 
.cms-index-index .em-box-custom .footer_follow > .container,
.em-box-custom .footer_top, 
.cms-index-index .footer_top, 
.em-box-custom .footer_follow,
.cms-index-index .footer_follow {border:none;}

.em-box-custom .footer_top > .container{border-top:1px solid @footer_line2_color;}
.em-box-custom .footer_follow > .container,
.footer_follow {border-top:1px solid @footer_line_color;}

.breadcrumbs li {.changeColorFont(@body_text3_color; @general_font); text-transform:capitalize; padding-right:11px;}
.breadcrumbs li a {.changeFont (@general_font); .link(@body_text3_color;@body_text2_color); text-transform:capitalize; padding:0;}
.breadcrumbs li strong {.changeColorFont(@body_text2_color; @general_font); text-transform:capitalize;}

/* Toolbar */
.view-mode label, .pager .amount strong, .pager label, .sort-by label, .sorter label, .pager .pages li a, .pager .pages .current {.changeColorFont(@body_text3_color; @h6_font;); text-transform:capitalize;} 
.pager .pages li a{.link(@body_text3_color; @body_text2_color)}
.pager .pages .current {color:@body_text2_color;}
.category-products .toolbar-bottom {border-top:1px solid @body_line_color;}
.category-products .toolbar span.current {.changeColorFont(@body_text3_color; @general_font;); text-transform:none;.changeLine(darken(@body_line4_color,10%));}
.category-products .toolbar .toolbar-dropdown li a {.changeColorFont(@body_text3_color; @general_font;);text-transform:none;}
.category-products .toolbar .toolbar-dropdown ul {border-color:(darken(@body_line4_color,10%));background:@body_bg_color;}
.category-products .toolbar span.current:before {border-top-color:@body_text2_color;}
.category-products .toolbar-dropdown:hover span.current:before {border-bottom-color:@body_text2_color; border-top-color:transparent; top:18px;}

.category-products .products-grid li.item:hover {.changeLine(darken(@body_line4_color,10%)); background-color:@body_bg_color;}
.category-products .products-grid li.item:hover .actions-cart .actions {.changeLine(darken(@body_line4_color,10%));background-color:@body_bg_color;}

/*=========== Category ===========*/
.page-title h1, .page-title h2 {.changeColor(@body_text2_color); font-size:230%; text-transform:uppercase; font-weight:600;}
.catalogsearch-result-index .page-title h1, .catalogsearch-result-index .page-title h2 {font-size:218%; margin-bottom:25px;}

.category-products .products-grid li.item {.border-top-radius(@rounded_corner;)}
.category-products .products-grid li.item .actions-cart .actions,
.category-products .products-grid li.item:hover { .box-shadow(@box_shadow)}
.category-products .products-grid li.item .actions-cart .actions {.opacity(0);}
/*==title home===*/
/*.ui-tabs .ui-tabs-nav .ui-tabs-anchor, .tabs_control li a, .title_tab_hide_show {.changeColorFont(@body_text3_color; @h1_font);}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-default .ui-tabs-anchor:hover, .title_tab_hide_show {color:@body_text2_color;}*/
.home_slider .widget-title,.tabs_control,.container  .widget-static-block  .block_title h3,.title_tab_hide_show{.changeFontStyle(@h1_font;);}

.widget-title h2,.tabs_control li a,.container  .widget-static-block  .block_title h3 span,.title_tab_hide_show span,.title_tab_hide_show h2{}
.widget-title h2, .widget-title h2 span,.container  .widget-static-block  .block_title h3 span,.title_tab_hide_show span,.title_tab_hide_show h2{ color:@body_text2_color; text-transform:uppercase; text-align:center;}

.tabs_control li a{ text-align:center; text-transform:uppercase;color:@body_text4_color}
.tabs_control li.ui-tabs-active a,.tabs_control li a:hover{color:@body_text2_color; }


/*icon slider small*/
.csslider .controls a,
.product-view a.next,
.product-view a.prev,
.em_post-action-top .prev-button,
.em_post-action-top .next-button{ border:1px solid lighten(@btn2_line_color, 70%); background-color:@btn2_bg_color;.roundCorner(100%;);}
.csslider .controls a:hover,
.product-view a.next:hover,
.product-view a.prev:hover,
.em_post-action-top .prev-button:hover,
.em_post-action-top .next-button:hover{ border:1px solid @btn1_bg_color; background-color:@btn1_bg_color;}

/*====================== Sidebar ======================*/
.em_sidebar .block .block-title strong span, .widget-recentreview-products .widget-title span {.changeColorFont(@body_text2_color; @h5_font;); text-shadow:0 0 lighten(@body_text2_color, 10%); text-transform:uppercase;}
.block-poll .block-subtitle {color:@body_text3_color;}
.block.block-poll li label {color:lighten(@body_text3_color,20%)}

.em_block-tag-cloud li a, .tags-list li a {color:@body_text3_color;}

/* Shop By */
.block-layered-nav dl dt {text-transform:uppercase; .changeColorFont(@body_text2_color; @h5_font;)}
.em_sidebar .tree-filter li.selected > .label,.block-layered-nav a:hover {color:@body_text2_color;}
.em_sidebar .block-layered-nav .img-filter li:hover {border-color:darken(@body_line4_color,10%);}
.block-layered-nav a:hover .price {color:@body_text2_color;}
.block-layered-nav a,.block-layered-nav .label{color:@body_text3_color;}


/*=========== Product ===========*/
.product-name, .product-name h3, .product-name h4, .product-name h2, .product-name a, .data-table td .product-name a{.changeColorFont(@body_text3_color;@general_font);}
.product-name a:hover,.my-account .data-table td .product-name a:hover, .data-table td .product-name a:hover{ color:@body_text2_color}
.price {.changeColorFont(@body_text2_color;@h5_font);}
.special-price .price { }
.price-from, .price-to {margin:0; }

/*=========== Product detail ===========*/
.ratings .rating-links,.ratings .rating-links a,.email-friend a{ color:@body_text3_color}
.product-view .product-name h1{.changeColorFont(darken(@body_text2_color, 20%);@h3_font);}
.product-view .short-description {border-top:1px solid darken(@body_line4_color,10%); padding-top:20px; border-bottom:1px solid darken(@body_line4_color,10%); padding-bottom:38px;}
.product-view .add-to-cart .button_addto {border-top:1px solid darken(@body_line4_color,10%); padding-top:21px;}
.product-view .product-shop .short-description h2 {.changeColorFont(@body_text2_color;@h5_font); text-transform:capitalize;}

.qty-ctl button, .product-view .product-img-box .more-views li {border-color:darken(@body_line4_color,10%);}
.qty-ctl button:hover, .product-view .product-img-box .more-views li:hover {border-color:darken(@body_line4_color,10%);}
.product-view .qty-ctl,
.cart-table .qty-ctl { border:1px solid @body_line4_color;}
.product-view .product-essential .product-shop .price-box .price,
.product-view .product-essential .product-options-bottom .price-box .price{color:@body_text2_color;}
.old-price .price { color:@body_text3_color !important;}
.product-view .product-shop .short-description h2 {}
.box-reviews h2, .box-reviews .form-add h2, .box-up-sell h2, .box-collateral h2{}

.product-view .add-to-cart label {.changeColorFont(@body_text3_color;@h6_font);}
.product-view .product-essential .sale_off {background:@body_text2_color;.changeColorFont(@body_text5_color;@h4_font); margin-bottom:20px;}
.product-view .product-essential .sale_off span{.changeColorFont(@body_text5_color;@h4_font);}
.product-view .product-essential .sale_off:after {border-top-color:@body_text2_color;}


.product-view #product-attribute-specs-table.data-table th {border:1px solid @body_line4_color; color:@body_text2_color;}
.product-view #product-attribute-specs-table.data-table td {border:1px solid @body_line4_color;}
.box-tags .form-add label {.changeColorFont(@body_text2_color;@h4_font);}

.product-view .block-related {border-bottom:1px solid @body_line_color; margin-bottom:18px;}

.block-related .block-title strong span, .crosssell h2, .product-view .box-collateral h2, .form-add h2 {.changeColorFont(@body_text2_color;@h1_font); text-align:center; text-transform:uppercase;}
.block-related .block-title , .crosssell, .product-view .box-collateral{ text-align:center; }

.product-view .box-collateral, .product-view .box-collateral .form_review.have_reviews,.product-options dt ,.product-view .form-add {border-color:darken(@body_line4_color,10%)}
.box-reviews dt a {.link(@body_text2_color; @body_text3_color;); font-style:normal;}
.box-reviews dt {color:@body_text3_color; font-style:italic;}
.box-reviews dt.review_author span{color:@body_text2_color;}
.ratings-table th {.changeColorFont(@body_text3_color;@h6_font);}
#review-form h4 {.changeColorFont(@body_text3_color;@h5_font);}
#review-form .data-table th {background:none; color:@body_text3_color; text-transform:capitalize;}
#review-form .data-table tbody tr,
#review-form .data-table tbody td.last {border:none;}

.form-add .form-list label{}
.ajaxcart .product-shop .product-options-bottom {border-color:@body_line_color;}

/*========== SHOPPING CART ===========*/
.full-table td {border:1px solid @body_line4_color !important;}
.data-table thead th {background-color:@body_bg2_color; color:darken(@body_text5_color,5%); border:1px solid @body_bg2_color;}
.data-table.cart-table tbody tr.last td{ border-bottom:1px solid @body_line_color;}
.data-table.cart-table tbody td{ border-top:0 none; border-bottom:0 none}
.data-table tbody td {border-top:1px solid @body_line_color; border-bottom:1px solid @body_line_color;}
.data-table tbody tr:first-child td{border-top:none;}
.data-table tbody td:first-child {border-left:1px solid @body_line_color;}
.data-table tbody tr, .data-table tbody td.last {border-right:1px solid @body_line_color;}

.cart .page-title h1{}
.checkout-cart-index .cart-empty {border:1px solid @body_line_color; margin-top:40px;}
.cart-table.data-table .cart-price .price {color:@body_text3_color;}
.cart-table.data-table td.last .cart-price .price {color:@body_text2_color;}

.cart-collaterals {position:relative; overflow:hidden;}
.cart-collaterals:before {content:""; position:absolute; top:0; bottom:0; left:0; right:0; border:1px solid @body_line_color; display:block;}
.totals h2, .cart .discount h2, .cart .shipping h2 {background:@body_bg2_color; .changeColorFont(@body_text5_color; @h5_font); text-transform:uppercase;}

.cart .cart-collaterals .checkout-types a {color:@body_text3_color;}

/*============= CHECKOUT PAGE 5 STEP =======================*/
#opc-login-popup {}

/*============= CHECKOUT MULTI =======================*/
.checkout-onepage-index .page-title {text-align:center;}
.checkout-progress li {border-color:@body_line_color;}
.checkout-progress li span{color:@body_text3_color;}
.checkout-progress li.active {border-color:darken(@body_line4_color,10%);}
.checkout-progress li.active span{color:@body_text2_color;}

.opc .step-title h2 {border-color:@body_line_color; .changeColorFont(@body_text3_color; @h5_font); .roundCorner(@rounded_corner;);}

.opc .active .step-title h2, .opc .allow .step-title:hover h2{border-color:@body_bg2_color; background:@body_bg2_color;color:@body_text5_color;}
.opc .step {border:1px solid @body_line_color; border-top:none;}

.opc #opc-login .step .col2-set .col-1 > h3,
.opc #opc-login .step .col2-set .col-2 > h3 {text-transform:uppercase; .changeColorFont(@body_text2_color;@general_font)}
.opc #opc-login .step .col2-set .col-1 h4 {text-transform:none; .changeColorFont(@body_text2_color;@general_font); text-shadow:0 0 0 @body_text2_color;}
.opc #checkout-step-login.step .col-2 h4, .opc #checkout-step-login.step .col-2 fieldset p {text-transform:none; .changeColorFont(@body_text3_color;@general_font);}
#checkout-step-login .col-2 .buttons-set a,
.opc .form-list li label, .opc #opc-login .step ul.ul li,#opc-shipping_method .sp-methods dt,
.sp-methods label, .cvv-what-is-this, #review-buttons-container.buttons-set .f-left {color:@body_text3_color;}
.sp-methods .price, #checkout-review-table tfoot tr.last td strong, #opc-review #checkout-review-table tbody td.last .price, #opc-review #checkout-review-table tfoot tr.last td.last .price {color:@body_text2_color;}
#opc-review #checkout-review-table tfoot tr.last td.last .price {font-weight:600;}

.opc-block-progress .block-content dt span {color:@body_text3_color;}
.block-progress dd {border-top:1px solid darken(@body_line4_color,10%)}
.opc-block-progress .block-content dt.complete span,.opc-block-progress .block-content dt.complete span a {color:@body_text2_color; text-shadow:0 0 0 @body_text2_color;}
.opc-block-progress .block-content dt.complete span a:hover{text-decoration:underline;}

#checkoutSteps.opc-1sc {border:1px solid @body_line_color;}
#opc-login-popup {.changeBkg (@body_bg_color; @image_bg_url; @body_bg_image; @body_bg_position; @body_bg_repeat);}
.opc-1sc #opc-login {border-bottom:1px solid @body_line_color;}
#opc-login p a {.changeColorFont(@body_text2_color;@h6_font;);}
#opc-login p a:hover {color:@body_text2_color;}
.opc-col .step-title .number {.changeColorFont(@body_text2_color;@h2_font;); text-transform:capitalize;}
.opc-col .step-title {.changeColorFont(@body_text2_color;@h3_font;); text-transform:capitalize;}

.opc-1sc #checkout-shipping-method-load > p {color:@body_text3_color; padding-top:3px;}
.opc-1sc .sp-methods .price {color:@body_text3_color; font-size:100%;}
#checkout-review-table.data-table td.last {border-right:1px solid @body_line_color;}

/*========== LOGIN PAGE ===========*/
.account-login .new-users h2, .account-login .registered-users h2{}
.account-login .col2-set {border:1px solid @body_line_color; border-top:none;}
.account-login .col2-set h2 {text-transform:uppercase; .changeColorFont(@body_text5_color;@h5_font); background:@body_bg2_color; margin-left:-23px; margin-right:-22px;}
.account-login .col2-set .col-2 h2 {margin-left:-23px; margin-right:-24px;}

.account-login .registered-users a {text-transform:uppercase; font-size:80%; margin-bottom:10px;}

.account-create .account-create-wrapper {border:1px solid @body_line_color; border-top:none; display:inline-block; width:100%;}
.account-create .fieldset .legend {text-transform:uppercase; .changeColorFont(@body_text5_color;@h5_font); background:@body_bg2_color;}

/*========== ACCOUNT PAGE ===========*/


.block-account .block-content li a {color:@body_text3_color;}
.block-account .block-content li a:hover, .block-account .block-content li strong {color:@body_text2_color; text-shadow:0 0 0 @body_text2_color;}

.dashboard .welcome-msg {border:1px solid @body_line_color;}
.box-head{border:none;.roundCorner(@rounded_corner;); background:@body_bg2_color; margin-bottom:1px;}
.box-head h2 { .changeColorFont(@body_text5_color; @h5_font); }
.box-head a { .changeColorFont(@body_text5_color; @h5_font); }

.box-info .col2-set > .box .box-content address a { .changeColorFont(@body_text3_color; @h5_font); display:inline; float:none; text-align:left;}

#my-orders-table td .price {color:@body_text2_color;}
#my-orders-table td em {color:@body_text2_color}
#my-orders-table td a {.link(@body_text3_color;@body_text2_color);}

.dashboard .box-info {border:1px solid @body_line_color; border-top:none;}
.box-title h3, .box-content h4, .addresses-primary h3 {text-transform:uppercase; .changeColorFont(@body_text2_color;@h6_font);font-size:90%; margin-bottom:6px;}
.box-info .col2-set > .box .box-title h3, .addresses-list h2, .addresses-additional h2 {text-transform:capitalize; .changeColorFont(@body_text2_color;@h3_font); margin-bottom:12px; text-shadow:0 0 0 @body_text2_color;}
.box-info .box p {clear: both; display: block;}
.box-info .box-content p > a {.link(@body_text2_color; @body_text3_color); margin-top:4px; display:inline-block; margin-bottom:2px;}
.box-info .box-content span.name {color:@body_text2_color; text-shadow:0 0 0 @body_text2_color; margin-bottom:3px; display:inline-block;}

.box-reviews ol, .box-tags ol {border:1px solid @body_line_color; border-top:none; padding:20px 22px; margin-bottom:12px;}

.addresses-list {border:1px solid @body_line_color; padding:20px 22px 18px; margin-bottom:6px;}
.my-account .fieldset h2.legend {text-transform:capitalize; .changeColorFont(@body_text2_color;@h1_font);}
#my-reviews-table, #my-tags-table {border-top:1px solid @body_line_color;}
.my-tag-edit a > span {font-weight:normal; color:@body_text2_color;}

.em_blog-cat li a {.link(@body_text3_color;@body_text2_color)}
.em_blog-cat li.parent ul {.changeColorFont(@body_text3_color;@h6_font);}
.block .post-title {.link(@body_text3_color;@body_text2_color); text-shadow:0 0 0 @body_text2_color;}
.block span.post-by span {color:@body_text2_color;}
.em_block-recent-comments .recent-comment-content {color:@body_text3_color; font-style:italic;}
.em_block-recent-comments .recent-comment-content:before,
.em_block-recent-comments .recent-comment-content:after {content:"\"";}

.list-blog-title {.changeColorFont(@body_text2_color;@h2_font); font-size:230%; width:100%; text-align:center; margin-bottom:16px;}
.em_post-items .em_post-item{ border-top:1px solid @body_line_color}
.em_post-item .blog-list-date .time-stamp,
.em_post-item .blog-view-date .time-stamp {.changeColorFont(@body_text5_color;@slider_title_font); font-size:16px; line-height:17px; padding:9px 10px 0;}
.em_post-item .blog-list-date .time-stamp .mth,
.em_post-item .blog-view-date .time-stamp .mth{font-size:22px; line-height:23px;}
.em_post-items .em_post-item .post-title h2 a{.changeColorFont(@body_text2_color;@h5_font); text-shadow:0 0 0 lighten(@body_text2_color,10%); text-transform:uppercase;}
.blog-view-content .post-title h2 {.changeColorFont(@body_text2_color;@h3_font); text-shadow:0 0 0 lighten(@body_text2_color,10%); text-transform:uppercase; font-weight:600;}
.em_post-items .em_post-item .post-title h2 a:hover {text-decoration:underline;}
span.post-by, .comment-post-link {color:@body_text3_color;}
.post-by span, .comment-count, .fb_comments_count {color:@body_text2_color; text-shadow:0 0 0 lighten(@body_text2_color,10%);}
.blog-category-view .toolbar,
.blog-index-index .toolbar {border-top:1px solid @body_line_color; padding-top:27px;}

.comments .comment-count, .fb_comments_count {color:@body_text3_color; font-style:italic;}
.comments .comment-by{color:@body_text3_color;}
.comments .comment-by span {color:@body_text2_color;}
.form-comment-container h3, .article-comments .form-title {.changeColorFont(@body_text2_color;@h2_font); text-transform:uppercase;}

.compare-table tbody td ,.compare-table tbody th,
.compare-table tbody tr:first-child td {border-top:1px solid @body_line_color;}
.compare-table thead td ,.compare-table thead th,
.compare-table .product-shop-row td ,.compare-table .product-shop-row th {border-top:none !important; border-bottom:none;}
.compare-table tbody th {text-transform:uppercase; color:@body_text2_color;}

/*==================== BOX WIDE MODE ====================*/
.wrapper_header{ border-bottom:1px solid @header_line_color;}
.wrapper_header, .wrapper_header_bottom {.changeBkg (@header_bg_color; @image_bg_url; @header_bg_image; @header_bg_position; @header_bg_repeat);/* background:#fff;*/}
.wrapper_body, .wrapper_banner, .wrapper_body_bottom {.changeBkg (@body_bg_color; @image_bg_url; @body_bg_image; @body_bg_position; @body_bg_repeat);}
.footer_follow, .footer_top, .footer_banner, .footer_bottom {.changeBkg (@footer_bg_color; @image_bg_url; @footer_bg_image; @footer_bg_position; @footer_bg_repeat);}

.lazy-banner-slider {.changeBkg (@slider_bg_color; @image_bg_url; @slider_bg_image; @slider_bg_position; @slider_bg_repeat)}

.em-box-custom .wrapper_header .inner_header > .row
{/*box-shadow:inset 7px 7px 5px 0px rgba(150, 150, 150, 0.2); -webkit-box-shadow:inset 0 4px 8px rgba(150, 150, 150, 0.2); -moz-box-shadow:inset 0 4px 8px rgba(150, 150, 150, 0.2); */margin-bottom:28px;}
.wrapper_body{ padding-top:28px;}
.cms-index-index .em-box-custom .wrapper_header .inner_header > .row,
.cms-index-index .wrapper_header {border-bottom:none; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; margin-bottom:0;}

.em-box-custom .page {.changeBkg (@page_bg_color; @image_bg_url; @page_bg_image; @page_bg_position; @page_bg_repeat);}
.em-box-custom .wrapper_header, .em-box-custom .wrapper_header_bottom {background:none;}
.em-box-custom .wrapper_header > .container, .em-box-custom .wrapper_header_bottom > .container {.changeBkg (@header_bg_color; @image_bg_url; @header_bg_image; @header_bg_position; @header_bg_repeat);}
.em-box-custom .wrapper_header {box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; margin-bottom:0;}
.em-box-custom .wrapper_header > .container {/*padding-bottom:10px;*/}
.em-box-custom .wrapper_header .inner_header {/*border-bottom:2px solid @header_line_color;*/}

.em-box-custom .wrapper_body, .em-box-custom .wrapper_banner, .em-box-custom .wrapper_body_bottom {background:none;}
.em-box-custom .wrapper_body > .container, .em-box-custom .wrapper_banner > .container, .em-box-custom .wrapper_body_bottom > .container {.changeBkg (@body_bg_color; @image_bg_url; @body_bg_image; @body_bg_position; @body_bg_repeat);}

.em-box-custom .footer_follow, .em-box-custom .footer_top, .em-box-custom .footer_banner, .em-box-custom .footer_bottom {background:none;}
.em-box-custom .footer_follow > .container, .em-box-custom .footer_top > .container, .em-box-custom .footer_banner > .container, .em-box-custom .footer_bottom > .container {.changeBkg (@footer_bg_color; @image_bg_url; @footer_bg_image; @footer_bg_position; @footer_bg_repeat);}
.em-box-custom .lazy-banner-slider {background:none;}
.em-box-custom .lazy-banner-slider > .container > .row {.changeBkg (@slider_bg_color; @image_bg_url; @slider_bg_image; @slider_bg_position; @slider_bg_repeat); background-attachment:fixed; overflow:hidden; background-size: cover !important;}

@media screen and (max-device-width:1024px) {
    .lazy-banner-slider, .em-box-custom .lazy-banner-slider > .container {background-attachment:initial; background-size:auto 100%;}
}


/*box shadow - border radius*/
.category-products .products-grid li.item:hover .actions-cart .actions{.border-bottom-radius(@rounded_corner)}
.home-selectcategories .products-grid li.item{.border-radius(@rounded_corner)}
.footer_banner .widget-static-block  .container{font:@h5_font}

/*==blog footer==*/
.content_footer_blog .post-title{ font:@h5_font; color:@body_text2_color; text-transform:uppercase;}
.time-stamp{ font:@general_font;}

.footer-brand.csslider .viewport{ border:1px solid (darken(@body_line4_color,20%);}
.footer-links > div span{ color:@body_text2_color; font-size:@h5_font; text-transform:uppercase;}
.footer-links  .press .right span{ font-size:@h6_font; padding-bottom:5px; font-weight:normal; display:block;color:@body_text2_color;}
.footer-image-2{ color:@body_text5_color;}
.footer-image-2 p {font-size:@h4_font;}	
.footer-image-2 .bottom { border-top:1px solid @body_text5_color;}	
.footer-image-2 span{font-size:@h5_font; padding-top:20px;}
.footer_bottom .footer_links { border-bottom:1px solid @footer_line2_color; padding-bottom:20px; margin-bottom:50px;}

/*=======quickshop, add to cart=======*/
#em_quickshop_handler,.container .products-grid button.btn-cart{ border:1px solid lighten(@btn2_line_color, 70%);.roundCorner(100%;); background-color:@btn2_bg_color;}
#em_quickshop_handler:hover,.container .products-grid button.btn-cart:hover{background-color:@btn1_bg_color;border:1px solid @btn1_bg_color}

/*=============block=====================*/
.sidebar .block,.sidebar .megamenu-wrapper,.em_sidebar .widget-recentreview-products{ border:1px solid @body_line4_color;.lineStyle(darken(@body_line_color,70%););}
.no-rating-review a{color:@body_text3_color;}
.footer_banner .right-content{ border-left:1px solid @body_line_color; background-color:@body_bg3_color;}
.footer_banner .left-content{ border-right:1px solid @body_line_color; margin-right:-1px}
.rev_slider .btn-cart{border:1px solid @btn1_text_color; color:@btn1_text_color; }

.header .form-search:before{ left:auto!important; right:-1px;}
/* View Type:List */
.category-products .toolbar .toolbar-dropdown li:hover{background:darken(@body_line_color,20%);}
.category-products .toolbar .toolbar-dropdown li:hover a{color:@body_text5_color;}
.products-list li.item{ background-color:@body_bg_color}
