<?php if(Mage::getStoreConfig('blog/menu/show_recent_post')):?>
<?php 
	$helperBlog = Mage::helper('blog');
	$thumnailWidth = Mage::getStoreConfig('blog/info/recent_thumbnail_width')/4;
	$thumnailHeight = Mage::getStoreConfig('blog/info/recent_thumbnail_height')/4;
?>
<div class="block em_block-recent-post">
    <div class="block-title">
        <strong><span><?php echo $this->__('Recent Posts'); ?></span></strong>
    </div>
    <div class="block-content">
        <ol>
            <?php foreach ($this->getRecentPost() as $p): ?>
                <li class="item">
					<?php if($p->getImage() && Mage::getStoreConfig('blog/info/show_thumbnail_recent_post')):?>
					<!--a href="<?php echo $p->getPostUrl();?>">
						<img src="<?php echo $helperBlog->resizeImage($p->getImage(),$thumnailWidth,$thumnailHeight,"emblog/post",'thumbnail');?>"/>
					</a-->
					<?php endif;?>
                    <a class="post-title" href="<?php echo $p->getPostUrl(false);?>" ><?php echo $p->getTitle();?></a>
                    <?php $date = new DateTime($p->getCreatedAt());?>
                    <small class="time-stamp"><?php echo $date->format('l, j M Y'); ?></small>
                    <!--span class="post-by"><?php echo $this->__('Posted by').' '?><span><?php echo $p->getAuthor()->getUsername()?></span></span-->
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
</div>
<?php endif;?>