<?php if(Mage::getStoreConfig('blog/menu/show_recent_post')):?>
<?php 
	$helperBlog = Mage::helper('blog');
	$thumnailWidth = Mage::getStoreConfig('blog/info/recent_thumbnail_width');
	$thumnailHeight = Mage::getStoreConfig('blog/info/recent_thumbnail_height');
?>
<div class="em_block-recent-post-footer">
    <div class="recent-content">
        <?php if (count($this->getRecentPost())>0):?>
        <ol>
            <?php $i =0; foreach ($this->getRecentPost() as $p): ?>
                <li class="item">
					<a href="<?php echo $p->getPostUrl();?>">
						<img class="fluid" src="<?php echo $helperBlog->resizeImage($p->getImage(),$thumnailWidth,$thumnailHeight,"emblog/post",'thumbnail');?>" alt="" />
					</a>
					<div class="right-content">
						<?php 
							$s =  $p->getTitle();
							if(strlen($s)>40) {
								$st = substr($s, 0, 40);
								$s = substr($st, 0, strrpos($st, ' '));
							}
						?>
						<p class="title"><a class="post-title" href="<?php echo $p->getPostUrl(false);?>" ><?php echo $s." ...";?></a></p>
						<?php $date = new DateTime($p->getCreatedAt());?>
						<small class="time-stamp"><?php echo $date->format('j M Y'); ?></small>  
						<?php 
							$shortdes =  $p->getPostIntro();
							if(strlen($shortdes)>70) { //dem ki tu chuoi $str, 70 la chieu dai muon quy dinh
								$strCutTitle = substr($shortdes, 0, 70); //cat 70 ki tu dau
								$shortdes = substr($strCutTitle, 0, strrpos($strCutTitle, ' '));
							}
						?>
						<div class="desc"><?php echo $this->stripTags($shortdes);?></div>					
					</div>
                </li>
            <?php $i++; if ($i ==3) break;?>
            <?php endforeach; ?>
        </ol>
        <?php else:?>
        	<p class="empty"><?php echo $this->__('No recent post') ?></p>
        <?php endif;?>
    </div>
</div>
<?php endif;?>