#bg_fade {background-color:#000; left:0px; margin:0px; padding:0px; position:fixed; top:0px; visibility:hidden; width:100%; z-index:998; height:1000px}
#containerDiv {min-width:350px; max-width:500px; z-index:999; display:none; position:fixed; }
#containerDiv .ajaxcart {position:relative; padding:20px; text-align:center; border:10px solid #EAE9E6; background-color:white; z-index:99999; max-height:600px}
#containerDiv .ajaxcart a{ color:#8C8A88;}
#containerDiv .ajaxcart .row2 {clear:left; padding-bottom:20px; overflow:hidden}
#containerDiv .ajaxcart #ajax_image img {float:left; margin-right:7px; }
#containerDiv .ajaxcart #ajax_image { margin-bottom:10px; overflow:hidden; text-align:left; }
#containerDiv .ajaxcart #ajax_image span {text-align:left; }
#containerDiv .ajaxcart .row2 a {display:inline-block; padding:0 15px; text-align:center; white-space:nowrap; text-decoration:none; text-transform:uppercase; }
#containerDiv .ajaxcart input.input-text{ background-color:#fff;}

#containerDiv .ajaxcart .row2 a span { border:0 none; padding:0; float:left; display:inline-block }
.product-essential {position:relative; }
.ajaxcart .product-options { max-height:200px; overflow:auto}
.ajaxcart .product_title {text-transform:none; text-align:center; padding-bottom:10px;}
.ajaxcart .product-shop .product-options-bottom .price-box{ float:left}
.ajaxcart .product-shop .product-options-bottom{ margin-top:15px; border-top:1px solid;  border-bottom:1px solid; padding:15px 0}
#containerDiv .ajaxcart .row2 .back{ float:left}
#containerDiv .ajaxcart .row2 .next{ float:right}
.ajaxcart .product-shop .product-options-bottom .price-box .price{ font-size:20px; }
.ajaxcart .product-shop .product-options-bottom .add-to-cart{ margin-top:-3px}
.ajaxcart .product-shop .product-options-bottom .add-to-cart .qty{ margin-top:0px; margin-right:0; float:left;}
